[2015-06-30 22:21] flyinprogrammer opened #3 "pip install broken?"
[code]

[2015-08-04 18:08] slessans commented on #3
The issue with this is that PIP does not find the proper nested packages.... the `find_packages` function in setup.py should be changed to use the version `from setuptools import find_packages` or just made to be recursive.

[2015-08-04 18:08] slessans commented on #3
i will create a pull request when I have time

[2015-08-14 19:10] lboyette-okta commented on #3
This is now fixed

[2015-08-14 19:10] #3 closed

[2015-09-06 17:00] PerGon opened #5 "pip install is broken"
Installing okta python sdk via pip, only fetches the files in the root folder (AppInstanceClient.py, AuthClient.py, etc.), the folders "framework" and "models" are not download, hence the okta python sdk won't work.

[code]

This is how the python package looks after using `sudo pip install okta`:

[code]

If I manually download the folders "framework" and "models" and add them to "/Library/Python

[2015-10-20 18:02] stevenhair opened #7 "Module won't load in Python 3.3+"
Python 3.3 [dropped support for implicit relative imports](https://docs.python.org/3/reference/import.html) in accordance with [PEP 302](http://www.python.org/dev/peps/pep-0302), which breaks this package. This can be fixed by making all relative imports explicit - e.g. `from User import User` should be changed to `from .User import User` in `okta/models/user/__init__.py`. Explicit relative import

[2015-11-04 18:19] mwildehahn opened #8 "Full user profile"
It seems like the user profile only sets a subset of the profile fields.

Is there a way to get the full profile?

[2015-12-29 18:52] dabdine-r7 opened #9 "Client doesn't work on Python3.5 (likely other versions as well)"
Forgive me, I'm new to python. However, I've had a friend also look at this to verify and he was able to reproduce on py3.2. Looks like the pathing is relative in https://github.com/okta/oktasdk-python/blob/master/okta/__init__.py. So, when python tries to import it's looking for (in my case i'm using a virtual env) site-packages/AppInstanceClient, instead of okta/AppInstanceClient.

My guess is t

[2016-01-13 21:08] argh128 commented on #8
Looks like you can get this by modifying the userProfile https://github.com/okta/oktasdk-python/blob/master/okta/models/user/UserProfile.py and add the attributes your interested in the types area.

[2016-02-24 14:23] scottcunningham opened #12 "Is this repository actively maintained?"
Hi all,

Just wondering if this repo is actively maintained or whether I should just be using the REST API directly with something like requests. I ask because I see there are a few unanswered issues and PRs over the past few months.

[2016-03-11 15:41] scottcunningham commented on #12
I think that is a no. For anyone who's curious, I ended up re-implementing it myself.

[2016-04-08 06:53] coolnay309 commented on #8
second that!

[2016-04-08 06:53] coolnay309 opened #14 "add ability to suspend and unsuspend users"

[2016-05-10 09:24] adaeran opened #15 "HTTP delete requests returns `204 No Content` But keyword fail"
It fails because the method try to return Utils.deserialize when response.text is empty --> "No JSON object could be decoded"

So either
1. Return None on all  204 expected keywords
Or
2. At Utils.deserialize add one more if case:
Util.py line:19
[code]
Or whatever you think is fit here

[2016-05-10 09:38] adaeran commented on #12
@lboyette-okta could you merge pr's?

[2016-10-21 16:04] Michael-Hedges opened #18 "Line 20 in utils.py throws exception"
When calling UserClient.delete_user(uid),  oktasdk-python/okta/framework/Utils.py line 20 throws an exception (ValueError: No JSON object could be decoded). Presumably, whatever the okta API is returning is either not JSON, or is being improperly parsed.
What's that about?

[2016-10-25 05:54] tbelote-okta commented on #18
Thanks for the feedback. You're right we weren't handling the 204 no response correctly. I have pushed an update.

[2016-10-25 05:54] #18 closed

[2016-10-25 05:54] tbelote-okta commented on #15
Thanks! I have pushed an update.

[2016-10-25 05:54] #15 closed

[2016-10-25 14:33] Michael-Hedges commented on #18
Thanks very much for the fix! =)

[2016-11-12 04:10] cobaltjacket opened #19 "User model lacks some fields"
The user/userProfile models are lacking some important attributes. In particular, 'employeeNumber' is missing. The PowerShell scripting does have some of these other attributes. However, what would be even better is if we could utilize other fields, particularly those which we may have added on a custom basis.

[2016-11-12 04:19] cobaltjacket commented on #8
@argh128, that does appear to be the case, but this should be better supported first-party, particularly since some other Okta API modules (1st and 3rd party) have a lot more features.

[2016-12-12 10:22] dahu33 commented on #19
Same problem here... Please fix it.

[2016-12-21 10:17] utapyngo commented on #9
I have the same problem on Python 3.5.

[2016-12-21 10:19] Mogost commented on #9
I can confirm this problem!

[2017-01-13 22:21] jmelberg-okta commented on #7
Hi @stevenhair. We apologize for the long delay.

We are currently in the process of updating this project. In the meantime, there is a possible fix [described here](https://github.com/okta/oktasdk-python/issues/10).

Thanks!

[2017-01-13 22:29] jmelberg-okta commented on #5
Hi @PerGon. We apologize for the long delay.

We are currently in the process of updating this project. In the meantime, there is a proposed solution [described here](https://github.com/okta/oktasdk-python/issues/10).

Thanks!

[2017-01-13 22:32] jmelberg-okta commented on #9
Hi @dabdine-r7. We apologize for the long delay.

We are currently in the process of updating this project. We appreciate you brining this issue to our attention, and submitting a pull request with a [potential fix](https://github.com/okta/oktasdk-python/issues/10).

[2017-01-13 22:33] #12 closed

[2017-01-13 22:37] jmelberg-okta commented on #19
Hi @cobaltjacket. We apologize for the long delay.

We are currently in the process of updating this project. This includes the ability to get unmapped properties (e.g. `employeeNumber`).

Thanks!

[2017-01-13 22:42] jmelberg-okta commented on #8
Hi @mhahn. We apologize for the long delay.

We are currently in the process of updating this project. As @argh128 mentioned, you can modify the the [`userProfile`](https://github.com/okta/oktasdk-python/blob/master/okta/models/user/UserProfile.py) to accommodate your needs. We will be pushing an update to ease this process soon!

Thanks!

[2017-01-16 16:08] scottcunningham commented on #12
Okay, I guess the Okta devs closing this issue without responding is a definitive "no" to my question. Cheers.

[2017-01-16 16:28] tbelote-okta commented on #12
Sorry @scottcunningham this repo is now actively maintained and we have a CLA for merging PRs. We have multiple python devs on the team, maintaining this repo is important to us.

[2017-01-16 16:33] scottcunningham commented on #12
Thanks for the update @tbelote-okta! If the repo is likely to become active again, I'll try to take a look at my project from last February and figure out what the issues with this SDK were and the missing features that prompted me to write my own wrapper and try to contribute them back.

[2017-02-03 19:46] ksshetty opened #23 "State token is set to 'None' on successful authentication"
When I make a call to the authenticate() method, the returned AuthResult object has the stateToken field set to 'None'. The authentication status was deemed to be successful and the user being authenticated is active in the Okta's people directory. Please see code snippet below:

[code]

[2017-02-03 20:33] ksshetty commented on #23
Based on my email conversation with one of the Okta support engineers, it looks like the stateToken attribute will only be populated when the status of the user is either PASSWORD_WARN or PASSWORD_EXPIRED.

[2017-02-03 20:33] #23 closed

[2017-02-14 21:28] jmelberg-okta commented on #5
Closing this issue as it was fixed in a previous release.

[2017-02-14 21:28] #5 closed

[2017-03-01 09:07] danieldelhoyo opened #28 "Add ability to get user applinks"
Unfortunately right now there's no method to do so

[2017-03-01 21:44] #14 closed

[2017-03-04 21:15] cobaltjacket commented on #19
Hi there. Any update on this? Will we also be able to obtain properties that come from other directories (i.e. Active Directory)?

[2017-03-06 17:33] jmelberg-okta commented on #19
@cobaltjacket: Thanks for following up!

We are working on providing the best solution for this. This will include storing **all** fields returned via the Okta API into all of our models. This update, along with a few others will be pushed as a `v1.0.0` release to `pypi`.

Thanks for your patience!

[2017-03-09 22:45] ksshetty opened #34 "No new release since Oct 2015"
There has not been a new release since the initial release in Oct 2015. Is the expectation that we need to clone the source code regularly or can we expect to have released versions in the future?

[2017-03-10 02:26] ksshetty opened #35 "Issue while initializing an AuthClient instance"
The following error is seen while initializing an AuthClient object.
[code]

[2017-03-10 02:34] ksshetty commented on #35
I believe I have the fix for this issue. Looks like I do not have permissions to open a new Pull Request.

[2017-03-14 21:54] jmelberg-okta commented on #35
@ksshetty: Thanks for raising this issue! We've [updated all of our clients](https://github.com/okta/oktasdk-python/pull/39) to account for the change in our new test suite.

[2017-03-14 21:54] #35 closed

[2017-03-21 23:48] ksshetty commented on #34
It would be great if someone could kindly comment on this issue. Thanks in advance.

[2017-03-27 18:02] jmelberg-okta commented on #34
@ksshetty: We are making a few more updates to this SDK before an official `1.0` release to `pypi`. We apologize for the inconvenience and will publish an update as soon as we can.

[2017-03-27 21:41] jmelberg-okta commented on #28
Closing thanks to [#33](https://github.com/okta/oktasdk-python/pull/33)

[2017-03-27 21:41] #28 closed

[2017-03-28 18:25] ksshetty commented on #34
@jmelberg-okta Thanks for the response. Is there a ballpark estimate as to when the 1.0 release is expected to be out?

[2017-03-28 18:29] ksshetty opened #41 "Issue with authenticate() method"
Following is my code snippet:
[code]

I get the following error while attempting to authenticate a user that has been successfully created on the Okta server.

[code]

[2017-03-28 18:33] ksshetty commented on #41
I have verified that the credentials being passed in are correct.

[2017-03-28 18:38] #41 closed

[2017-03-28 18:39] ksshetty commented on #41
Sorry for jumping the gun. The user on the Okta server was in 'Reset Password' and hence the error. This method works when the user is in the 'active' state.

[2017-03-31 21:31] jmelberg-okta commented on #34
@ksshetty: We will be pushing a minor update to `pypi` within the next couple of weeks.

Thanks for your patience!

[2017-04-03 18:13] jmmercadom commented on #34
Hi @jmelberg-okta

A suggestion: you could start using [Milestones](https://help.github.com/articles/about-milestones/) and [Releases](https://help.github.com/articles/creating-releases/) features from GitHub to give visibility of next releases and it's milestones.

Regards!

[2017-04-03 23:49] nicolastrres opened #42 "Assign roles to User"
Hi everyone, I am looking for a way to [assign roles to a user](http://developer.okta.com/docs/api/resources/roles.html#assign-role-to-user). Specifically I am trying to make a user administrator of an application. Is there some way to do that using the oktasdk at this moment?

[2017-04-05 16:15] jmelberg-okta commented on #42
@nicolastrres: We haven't added this into the SDK yet. However, you can assign the `APP_ADMIN` role by making a `POST` request to the `/roles` endpoint:

[code]

[2017-04-05 16:15] #42 closed

[2017-05-08 00:29] nicolastrres commented on #34
Hi @jmelberg-okta do you know when you will be pushing a new version to pypi?

[2017-05-12 21:30] pduldig-at-tw opened #44 "HTTP/400 Errors if the API Token contains a newline"
Ran into an issue where I am decrypting an [AWS encrypted] Okta API token that ended with a newline.
Normally, you would not include a newline on the token, but because of the tools I was using it inserted an extra \n. It was non-obvious as the inputs to my app were encrypted.
Some deeper urllib3 debug logging helped

When requests module constructed the POST, it contained the SSWS token value wit

[2017-06-12 17:02] 007 commented on #34
@jmelberg-okta ping again, is #45 the intended 0.1.x release gate? It'd be nice to get 0.0.4 to pypi while that's in process, just the bugfixes without the massive restructuring and cleanup.

[2017-06-19 21:08] edpark commented on #34
+1

[2017-06-23 18:55] jmelberg-okta commented on #34
All - Sorry for the long wait! Just released 0.0.4 to [pypi](https://pypi.python.org/pypi/okta/0.0.4).

@007: Yes, #45 is in the early stages of development and intended to be a 0.1.x release.

[2017-06-23 18:55] #34 closed

[2017-06-23 18:57] jmelberg-okta commented on #9
All - Sorry for the long wait! We just released 0.0.4 to [pypi](https://pypi.python.org/pypi/okta/0.0.4).

You should now be able to install it for Python 3.5+ via:
[code]

[2017-06-23 18:57] #9 closed

[2017-06-23 18:59] jmelberg-okta commented on #7
@stevenhair  - Closing this as it is a duplicate of #9.

[2017-06-23 18:59] #7 closed

[2017-07-04 20:20] peebles opened #46 "New user is not assigned to an application"
When I follow the doc:
[code]

The user is created, but not assigned to an application.  I have two applications after running the migration process from Stormpath.  Is this the problem?  That it does not know which application to assign the new user to?  How do I resolve this?

[2017-08-05 01:08] cobaltjacket commented on #19
We're at 5 months since your last response. Please advise. Anyone who has commented on this or the similar issues is a paying customer who would like to have this resolved.

[2017-08-14 14:26] steveYeah opened #49 "The request body is not well-formed during User update"
When reading a user from the API, altering some of the details on the profile, and then updating details via the API I see the following error
[code]

Code:
[code]

Is there something I'm missing here?

[2017-08-16 15:20] steveYeah commented on #49
I had some time today and had a look into this error and found the cause.

When fetching the data from Okta, altering it and then sending it back, the serialiser places the `_links` data into `links` and not `_links`. When that is then serialised back into json, the user model contains a `links` attribute, which causes the error

To get around this you can move the data to _links
[code]
I think th

[2017-09-01 15:29] joshford05 commented on #19
Any update on this? We definitely need the ability to update other profile fields within the SDK.

[2017-09-02 00:21] directionless opened #50 "python3 support?"
I'm starting to play with the API. Python 3 doesn't like the relative imports in https://github.com/okta/okta-sdk-python/blob/master/okta/__init__.py

Any plans of python3 support?

[2017-09-19 18:05] heineman-bob opened #51 "User update obliterates all other profile attributes not provided in the user model"
When updating a users profile the [UsersClient uses a put method](https://github.com/okta/okta-sdk-python/blob/master/okta/UsersClient.py#L75) instead of a post method which if you read the [rest documentation](https://developer.okta.com/docs/api/resources/users.html#update-user) completely overruns all other attributes in the profile if they are not provided in the request.   Since the user model

[2017-11-07 11:21] bmacauley opened #52 "Cannot use Auth API for authentication only"
I want to use the Okta Auth API for authentication only(ie no API key) for a CLI tool.

I cannot do this because an API key is required in the APIClient
okta-sdk-python/okta/AuthClient.py
okta-sdk-python/okta/framework/ApiClient.py

The documentation states this is not a requirement...
https://developer.okta.com/docs/api/resources/authn.html

[2017-11-14 05:25] chrisleck opened #53 "Cannot pass required fields for u2f"
The Okta docs call for two fields to be passed in the signed assertion phase of U2F authentication: https://developer.okta.com/docs/api/resources/authn.html#post-the-signed-assertion-to-okta-to-complete-verification

However, the current python API doesn't allow those fields to be passed through: https://github.com/okta/okta-sdk-python/blob/master/okta/AuthClient.py#L44

[2017-11-14 13:48] sdementen opened #54 "sample to create a new App"
I am trying to create a new app through the `create_app_instance` method but without success.

The configuration of the AppInstance is not obvious.
[code]
gets me a
`okta.framework.OktaError.OktaError: Internal Server Error`

If I also set credentials, visibility, settings and accessibility (by just using values from an existing app I get a
`okta.framework.OktaError.OktaError: Api validation faile

[2017-11-17 19:48] bmacauley commented on #52
#57 a fix for the issue

[2017-11-17 22:43] bmacauley opened #58 "Auth2.0/OIDC support?"
There is no support for the Okta Oauth2 and OIDC API's
https://developer.okta.com/docs/api/resources/oauth2.html
https://developer.okta.com/docs/api/resources/oidc.html

[2018-01-23 23:15] mchurichi commented on #54
is this AppInstanceClient class really intended for App creation?

[2018-04-02 17:19] mikesiegel opened #66 "Request body not well formed during verify"
Hello,

I'm trying to prompt the user for push auth via the SDK for testing purposes. According to the [documentation](https://developer.okta.com/docs/sdk/core/python_api_sdk/api/clients/FactorsClient.html#okta.FactorsClient.verify_factor) this is a valid request :

` factor_response = factorClient.verify_factor(user.id, factor.id)`

This results in the following call"

[code]

Which returns an er

[2018-09-27 07:41] vincenttheeten commented on #46
Did you ever get this one resolved?

[2018-09-27 16:36] peebles commented on #46
I don't remember.

[2018-09-27 16:36] #46 closed

[2018-09-30 03:08] cobaltjacket commented on #19
It sounds as if Okta has elected to just abandon this API, rather than keep it up to date.

[2018-09-30 03:08] #19 closed

[2019-01-03 22:48] heaje commented on #52
This is quite a bit late to the party, but simply passing in ' ' to the constructor for the API key will make it work fine for just authentication.

[2019-03-14 14:14] hakube opened #71 "Security status and support"
Hi, is there any chance for Okta to support this library again? I managed to get this working on my Flask application and it's working well.

Is it secure enough for corporate use?

Thanks!

[2019-03-17 18:16] rdegges commented on #71
Ping @nbarbettini @robertjd who help make these decisions.

[2019-04-11 14:04] Mogost opened #73 "get_group_users returns only 1000 elements"
[code]
users contains only first 1000 items.
After debug:
`response = ApiClient.get_path(self, '/{0}/users'.format(gid))`
`'next' in response.links` returns True
[code]
Based on the description should return 10,000.
https://developer.okta.com/docs/api/resources/groups/#list-group-members
In any case, the case of large groups is not taken into account.

Also checked with postman. The same behavior.

[2019-04-12 16:30] nbarbettini commented on #73
You're only getting 1 page of results (see [Pagination](https://developer.okta.com/docs/api/getting_started/design_principles/#pagination)). For both Postman and Python code, you need to keep retrieving pages by repeatedly grabbing the `next` link from the Location header until there isn't a `next` link anymore.

[2019-04-13 23:18] Mogost commented on #73
Thank you @nbarbettini, but I know about Pagination.
But code in that library does not work with pagination.
https://github.com/okta/okta-sdk-python/blob/master/okta/UserGroupsClient.py#L64
[code]

[2019-04-15 21:56] nbarbettini commented on #73
Ah, I gotcha. Sorry about that. This library is not currently being maintained, so you will have to write your own pagination code. You could look at `get_paged_users` for inspiration: https://github.com/okta/okta-sdk-python/blob/master/okta/UsersClient.py#L106-L128

[2019-04-16 09:03] Mogost commented on #73
TY.  I have already solved the problem in this way. This is just a issue to fix in the future. Perhaps I will make a pullrequest if I have time.

[2019-04-16 13:13] nbarbettini commented on #73
👍  Thanks for reporting! I'll leave this open, although we aren't currently planning any Python work in the near future.

[2019-04-16 13:28] nbarbettini commented on #71
Hi @hakube, we don't have near-term plans to start supporting this library, sorry. I am not aware of any security vulnerabilities, but as with any external dependencies you should do your own testing.

[2019-04-16 13:28] #71 closed

[2019-07-05 19:59] sachafaust opened #75 "UserGroupClient get_paged_groups returns User object"
When calling get_paged_groups, the UserGroupClient returns User object instead of UserGroup object. Calling get_groups() works

[2019-08-08 18:17] natea opened #76 "NameError: name 'User' is not defined"
When I try to run the example code in the quickstart.rst, I get this error:

[code]

Here is the example code that I'm trying to execute:

[code]

[2019-08-12 23:12] rdegges commented on #76
Ah! You're using the admin Org URL. You want to go to your dashboard homepage, then you'll see the Org URL value up at the top-right hand portion of your screen. That's the value you want to use in that UsersClient.

[2019-10-25 22:18] Gauge73 commented on #76
I ran into the same issue.  The initial reply seemed to be irrelevant, so I kept digging around in the module until I found what seems to be a solution.  Note that I'm a Python newb, so keep that in mind.  :)

The **User** class exists at **okta.models.user.User**.  So, here's what I did to instantiate a user:

`import okta

client = UsersClient('https://dev-123456-admin.okta.com', 'xxxxxxxxsxxxxx

[2019-10-30 20:22] Gauge73 opened #78 "countryCode not included in UserProfile"
**countryCode** should really be included as an argument of the UserProfile.  Really, all the default attributes should be, but this is specifically necessary for provisioning licenses in O365 (or so my O365 admin tells me).

It has to be added in the following places:

- As an attribute of the **UserProfile** class
- As a key/value pair (value str) in the **types** dictionary which is an attribut

[2020-07-04 02:06] gabrielsroka commented on #66
i got the same error. my "workaround" is to patch FactorsClient.verify_factor. change
https://github.com/okta/okta-sdk-python/blob/master/okta/FactorsClient.py#L153-L158
[code]

to

[code]

this works ok (ymmv, depending on which arguments you use).

another solution (which might break other things) is to add this to the Serializer class
https://github.com/okta/okta-sdk-python/blob/master/okta/fra

[2020-08-26 17:52] CoreySmithRing opened #112 "How can I paginate throuhgh all users? (alpha 1.0.0 release)"
The readme shows an example of paginating to get the next page but that does appear to return the "resp" object so I can then recursively run the .has_next and get all of the values. In my case I am referring to users but they use they same object for the OktaApiResponse if im not mistaken. The example shown in the readme shows
[code]
but how can I continue to iterate through all the responses to

[2020-08-26 19:13] justinabrokwah-okta commented on #112
Hi @CoreySmithRing,

Thanks for your question! The `resp` returned in the first call will do that for you. You can continually call `resp.has_next` or `await resp.next()` on the same object to continue retrieving next pages. This way, you do not have to manage multiple response objects for each page you retrieve.

In your example, to iterate through all the responses to get all users, you would do

[2020-08-26 21:52] CoreySmithRing commented on #112
Awesome.

I will give that a shot.

Thanks!

[2020-08-26 22:37] CoreySmithRing commented on #112
The above is throwing a StopAsyncIteration exception before it returns its values. I am really new to async so I am just trying to determine how to handle that exception or if it should be handled on the module side?

[2020-08-27 13:41] justinabrokwah-okta commented on #112
May I see the code that gave you this issue? If you call `await resp.next()` after retrieving the last page, a `StopAsyncIteration` exception will be raised as per the generator pattern in Python.

For more on the generator pattern:
- [Asynchronous Generators](https://www.python.org/dev/peps/pep-0525/)

[2020-08-27 16:28] CoreySmithRing commented on #112
For now was just doing something simple to print all users and check out some of the functionality of this package

[code]

For context we have roughly 7k active users. I presume its a timeout of some sort on async functions but I am not very familiar with async for python at this time so I appreciate you give some guidance.

[2020-08-27 16:35] CoreySmithRing commented on #112
This is the exception it throws as well
[code]

[2020-08-27 17:07] justinabrokwah-okta commented on #112
Thank you for providing the sample. I think the issue here resides in your check to see if there are more pages.
`while resp.has_next` should be `while resp.has_next`**()** , with the parentheses, since it is a function.

Try that and let me know if your problem is resolved!

[2020-08-27 17:44] CoreySmithRing commented on #112
Of course, simple solution. thank you!

[2020-08-27 17:44] #112 closed

[2020-10-20 04:50] achantavy opened #122 "Where is the new location of okta.framework.OktaError?"
First off congrats on the 1.0.0 release! :-)

We have some code that uses `OktaError` and expects to find it at `from okta.framework.OktaError import OktaError` as in your 0.0.4 release, but it looks like things have changed since 1.0.0. What is the new exception type that I should use now, and does it still have the same error codes as before? E.g. "E0000006".

Here's the error message that I get

[2020-10-20 17:05] bretterer commented on #122
@achantavy Thank you for the congrats!  We did make a bunch of changes in this version of the SDK.

With these changes were changes to the errors.  You can find the new error classes in the [okta/errors Directory](https://github.com/okta/okta-sdk-python/blob/master/okta/errors/)

All Okta errors will be wrapped up in the [OktaAPIError](https://github.com/okta/okta-sdk-python/blob/master/okta/error

[2020-10-20 17:05] gabrielsroka opened #123 "hello world?"
can we update the README with a hello world? for example, i'm trying to get this to work, but it's not working

[code]

[2020-10-20 17:08] bretterer commented on #123
@gabrielsroka I will add this to our list to take a look at, however, until then, here is a working example for you to take a look at.

[code]

[2020-10-20 17:08] bretterer commented on #123
This example shows you not passing anything into your `OktaClient`, so it relies on your `~/.okta/okta.yaml` file for information

[2020-10-20 17:19] gabrielsroka commented on #123
i'm also getting
[code]

i tried it in 2 separate machines. i tried uninstall the old, beta okta package, too

[2020-10-20 19:29] estein9825 opened #124 "Pipenv Won't Install Version 1.0.0 of Okta"
When trying to run `pipenv install okta` to install version 1.0.0 on Python 3.8 I get:

[code]

Running it with `-v` points to an issue when it's attempting to generate the hashes for Okta:

[code]

I am able to install version `0.0.4` without issues

[2020-10-21 14:55] bretterer commented on #124
Thanks for the report!  Were investigating now

[2020-10-22 16:04] bretterer commented on #124
@estein9825, We have updated the package to version 1.0.1

Could you please try to re-install okta through pip and try again?

[2020-10-22 16:05] bretterer commented on #123
The error you were experiencing in this issue should be resolved with an install of okta through pip with version 1.0.1

[2020-10-22 16:47] gabrielsroka commented on #123
with version 1.0.1, this seems to work

[code]

[2020-10-22 18:34] estein9825 commented on #124
Same issue
[code]

[2020-10-22 19:04] gabrielsroka commented on #124
@estein9825 i had to
[code]
but then it worked for me. (note, i'm not using pipenv, just pip)

[2020-10-22 20:19] gabrielsroka commented on #123
here's a hello world for pagination. the example in the readme is confusing. it seems to be 3 different examples (which is fine, but should be made clearer)

[code]

[2020-10-22 21:07] gabrielsroka commented on #112
@CoreySmithRing thanks for the example. i've added @justinabrokwah-okta 's change and made some minor changes.

[code]

i like the code, but i'm concerned about fetching, for example, 1 million users and keeping them all in memory.

this snippet processes them as you go along. of course, if you don't have 1 million users, it may not be a concern.

[code]

[2020-10-22 23:36] ryanbackman opened #127 "list_applications returning KeyError"
I'm trying to list all the applications in an okta instance and getting the following result from the coroutine.

(None, <okta.api_response.OktaAPIResponse object at 0x7f2e4490dd50>, KeyError('office365'))

[code]

[2020-10-23 13:39] bretterer commented on #123
This will be resolved by #128

[2020-10-23 13:39] #123 closed

[2020-10-23 13:40] bretterer commented on #124
Glad that worked.

So, are you not using pipenv anymore?  The initial issue was pipenv wouldn't install okta.  Is that still an issue?

[2020-10-23 20:02] bretterer commented on #127
@ryanbackman A couple things here.  With the Client initialization, as long as you have environment variables `OKTA_CLIENT_ORGURL` and `OKTA_CLIENT_TOKEN` you do not need to pass anything into the instantiation.  Our client will pull environment variables for you directly.  This is defined in more details in [the readme](https://github.com/okta/okta-sdk-python#environment-variables)

As for the is

[2020-10-23 21:21] ryanbackman commented on #127
Thanks for the suggestions about the environment variables, that does simplify things a bit... but I'm still unable to get list_applications to work.  I've matched the readme and have a requests snippet that does the same thing successfully with the direct api.  Note that if I change list_applications to list_users I get a full list of users.

[code]
Result: (None, <okta.api_response.OktaAPIRespon

[2020-10-24 06:00] estein9825 commented on #124
@bretterer yeah no idea about that other person. But to answer your question a pipenv uninstall/reinstall did not help. Have you tried with pipenv? I’m using 2020.8.13

[2020-10-26 14:10] bretterer commented on #124
@estein9825  I think we may have found the bug here.  Our `setup.py` file had `python_requires=">=3.6'",` which contains a rogue `'`.  I am working on getting a fix published as 1.0.2 and will update here when it is released

[2020-10-26 15:16] serhiibuniak-okta commented on #127
@ryanbackman Can you provide more details on the issue? Maybe, some sort of reproduce steps? I've investigated a bit and there are two places at least, which can provide response with that structure - (None, response, error). And, as usual, it works perfectly on my env.

[2020-10-26 16:35] ryanbackman commented on #127
I can't say I have any more reproduction steps other than running the code.  I've simplified it down to nuts and bolts.  I had some filters set which were returning no results, so I simplified it down to just "give me everything."  We have 41 active apps and 7 inactive.  office365 is one of the active apps.  I'll set some debug statement and try to figure out which of those two places it is throwi

[2020-10-26 17:01] ryanbackman commented on #127
The error is being thrown on line 101 in okta/resource_clients/application_client.py.

This is the traceback I get.

[code]

[2020-10-26 17:16] serhiibuniak-okta commented on #127
It goes to part where it thinks it should be browser app plugin, L50-51. So, the question is what is the value of "signOnMode" for app Office365?
Hint: okta/resource_clients/application_client.py, L94-99

[2020-10-26 17:56] ryanbackman commented on #127
SAML_1_1

[2020-10-26 18:09] ryanbackman commented on #127
find_app_model is being called with 'SAML_1_1' and 'office365'.  OKTA_APP_NAME_TO_MODEL is then being referenced with 'office365' as the key.  According to [OKTA_APP_NAME_TO_MODEL](https://github.com/okta/okta-sdk-python/blob/ca7edbf7d2cbb1af153f3623117ef706356358d4/okta/constants.py#L37), 'template_swa', and 'template_swa3field' are the only keys...

[2020-10-26 18:15] serhiibuniak-okta commented on #127
Yes. The thing is, currently we have SAML_2_0 supported only. Although, I don't see any reason why we can't have SAML_1_1 among them (L22 - ASM.SAML_2_0: models.SamlApplication). Let me investigate why it is so. Meanwhile, you can add there ASM.SAML_1_1: models.SamlApplication just for experiment

[2020-10-26 18:23] ryanbackman commented on #127
That worked!

I'm seeing SAML 1.1 in the user interface, should this be SAML 2.0?

![Screen Shot 2020-10-26 at 11 18 25 AM (2)](https://user-images.githubusercontent.com/1589608/97212465-b29e4600-177d-11eb-838a-0d13a1ecd4df.png)

[2020-10-26 19:05] bretterer commented on #124
@estein9825 we just released version 1.0.2 of the SDK which should fix the bug for `pipenv` installs... could you please try to see if its resolved for you now?

[2020-10-26 19:30] estein9825 commented on #124
@bretterer install was successful this time.

[2020-10-26 19:40] bretterer commented on #124
Awesome to hear @estein9825.  Sorry for the troubles here.

If there are any other issues, please let us know!

[2020-10-26 19:40] #124 closed

[2020-10-27 15:47] serhiibuniak-okta commented on #127
I suggest switch to SAML 2.0 if it is possible. Meanwhile, I'm investigating if SAML 1.1 can be supported

[2020-10-30 17:29] DREW1990 opened #131 "Using get_logs shows an HTTP 405 error"
Hello, I'm testing the SDK for our services and I keep getting an HTTP 405 error when trying to retrieve our system logs.
[code]

Here is my code:
[code]

Tried checking if it was my parameters so I tried removing 'filter' or using only 'since' for the past day. I even tried with no parameters and I'm still getting a 405 error code.

[2020-10-30 18:38] bretterer commented on #131
That is very odd. In our debugging I found that we can make the same request using CURL and it works just fine.  We also found that we can make the call using the following code and its fine as well

[code]

To unblock you, please consider using this workaround while we continue to debug this issue.

[2020-11-02 18:48] nathan-ca opened #133 "What is missing"
Here is my script, almost identical to the sample script in the README

[code]

Here is the error message
[code]

I'm using Python 3.6.8 and the okta library is 1.0.2 (most recent). Am I missing a library or setup step? Thanks.

[2020-11-02 21:03] bretterer commented on #133
@nathan-ca Sorry for the troubles you are having here with the library.  It seems that there may be an issue with the install of the okta library you are experiencing.  We were having trouble in our initial release like this, and it was resolved in 1.0.2.

Could you please try running `pip uninstall okta` and trying to fully reinstall the package.  I have gotten report that just updating the packa

[2020-11-02 21:24] nathan-ca commented on #133
Hi @bretterer,

I tried `pip uninstall okta` and `pip install okta`, issue remains. I also tried to clone the repo and rebuild the sdk, tox test printed many errors with the same ` AttributeError: module 'okta' has no attribute 'models' ` error message.

I'm switching back to REST API.

[2020-11-02 22:44] ryanbackman commented on #127
I'm running into another issue with list_applications... One of my applications has a signOnMode of None, which has no corresponding entry in OKTA_APP_SIGN_ON_TO_MODE in constants.py.

[2020-11-03 08:42] serhiibuniak-okta commented on #131
@DREW1990 try v1.0.3, fix for this issue has been implemented

[2020-11-03 08:53] serhiibuniak-okta commented on #133
@nathan-ca
Could you please try it on a "clean" environment? i.e. virtualenv and install okta 1.0.2 or the latest (currently, 1.0.3) and run your script in the first post? Also, it would be good if you can provide some additional info:
1) Operating System
2) run python interpreter and execute command "from okta import models" - if it causes an error
3) check if folder `models` contains file `__ini

[2020-11-03 09:00] serhiibuniak-okta commented on #127
@ryanbackman What's the application? In this case it should be considered as browser plugin app or there is something wrong with signOnMode. Looks like it's possible to have different unexpected cases and need to think how to cover all of them.

[2020-11-03 21:15] DREW1990 commented on #131
Awesome, just verified the fix worked! Thanks!

[2020-11-03 22:24] bretterer commented on #131
Thank you @DREW1990!  If there is anything else we can help with, please let us know.

[2020-11-03 22:24] #131 closed

[2020-11-03 22:50] DREW1990 opened #135 "AttributeError when retrieving paginated logs"
Hello I'm running into an error when using pagination with `client.gets_logs()`.

Here is my code:
[code]

The error I receive:
[code]

My code has no issues receiving the first page, however when I use `response.next()` I keep seeing the attribute error.

[2020-11-04 11:22] serhiibuniak-okta commented on #135
@DREW1990 thank you for this detailed description, problematic piece of code is located, working on solution.

[2020-11-05 00:51] JonsSpaghetti commented on #133
@serhiibuniak-okta I'm not the original issue poster, but I can confirm that I'm also running into this issue both on my local machine that's a Mac running Catalina 10.15.7 as well as a docker container running Ubuntu 18.04.5 LTS.

Local machine is on python 3.6.10, docker container is on 3.6.9

In both my local and docker installs of the okta sdk, the models folder does contain __init__.py, in fa

[2020-11-05 08:28] serhiibuniak-okta commented on #133
@JonsSpaghetti Could you please, share the code (without any creds, of course) and traceback?
Does the following produce an error?
[code]
Verify if `>>> okta.__version__` during the same session is not older than `1.0.2`

[2020-11-05 18:24] JonsSpaghetti commented on #133
@serhiibuniak-okta I'm not even getting to the code because it's failing on import.

[code]

Both of the above lines result in an error.
The lines that you pasted produce the same error.

[code]

Traceback is as follows:
[code]

[2020-11-06 00:08] JonsSpaghetti commented on #133
@sergiishamrai-okta After some other testing, it appears that this works fine in Python 3.7 & 3.8 so it's just a problem with 3.6.  Is 3.6 intended to be supported?

[2020-11-06 12:10] serhiibuniak-okta commented on #133
@JonsSpaghetti Thank you for you efforts and detailed description. Yes, there is a problem, specific to python3.6 (it works in python3.5). Here's a description of a bug in Python itself: [https://bugs.python.org/issue30024](https://bugs.python.org/issue30024). It is fixed in 3.7
So, I suggest using Python3.7+. Hope, this helps.

[2020-11-06 12:16] serhiibuniak-okta commented on #133
@nathan-ca try to update python, this (see post above) should solve your problem too.

[2020-11-06 15:49] serhiibuniak-okta commented on #135
@DREW1990 Please, try install the latest version of okta

[2020-11-06 19:03] JonsSpaghetti commented on #133
@serhiibuniak-okta Got it, thanks for pointing me to the issue - that makes sense.

[2020-11-06 19:19] JonsSpaghetti commented on #133
@serhiibuniak-okta Seems like this could be resolved by using the import syntax `from okta.models import x as y`.  How are the imports in the okta/models/__init__.py file generated?  I scanned the contributor documentation as well as the CLA FAQ and didn't see any info there.

If it's something that can be easily changed and would allow the sdk to support python 3.6 I'll happily make the change an

[2020-11-06 20:21] serhiibuniak-okta commented on #133
@JonsSpaghetti The thing is this stuff is being generated based on openapi spec, thus it is not so easy to change imports, need to change spec.
@bretterer could you please, add few comments on it?

[2020-11-06 20:26] bretterer commented on #133
@JonsSpaghetti thank you for all your input here.  As @sergiishamrai-okta stated, our SDK is generated based on our OpenAPI Spec file, which is an NPM package [@okta/openapi](https://www.npmjs.com/package/@okta/openapi).  That being said, if you wanted to change the import syntax in this SDK, you would want to update https://github.com/okta/okta-sdk-python/blob/master/openapi/templates/models-init

[2020-11-06 20:31] JonsSpaghetti commented on #133
@bretterer @serhiibuniak-okta  Perfect, thanks so much.  I'll go ahead and give that a try - if all goes well will put up a PR for that.

[2020-11-06 20:53] DREW1990 commented on #135
@serhiibuniak-okta awesome, its working now! Thanks for the help! Any chance the latest version can be installed through pip soon?

[2020-11-07 09:38] serhiibuniak-okta commented on #135
@DREW1990 Yes, we'll upload new package to pypi soon, I believe, on Monday

[2020-11-10 12:19] serhiibuniak-okta commented on #133
@JonsSpaghetti fix is merged, thank you. We'll upload v1.0.4 to PYPI soon

[2020-11-10 16:51] serhiibuniak-okta commented on #133
@JonsSpaghetti @nathan-ca v1.0.4 is ready

[2020-11-10 16:51] serhiibuniak-okta commented on #135
@DREW1990 v1.0.4 is ready

[2020-11-10 17:23] bretterer commented on #133
@jonsSpaghetti, we have released the 1.0.4 version of the Python SDK which includes your changes. Thank you for your contribution to the SDK.

@nathan-ca, please update your SDK to our latest version that can be found on PyPi, and let us know if your issues have been resolved.

I am going to close this issue now as resolved, but please reach out to us if you find that this has not fixed your conce

[2020-11-10 17:23] #133 closed

[2020-11-10 17:31] nathan-ca commented on #133
@bretterer

Just updated and confirm it's fixed. Thanks!

[2020-11-10 17:34] bretterer commented on #133
Awesome!  Thank you for the confirmation @nathan-ca

Please let us know if there is anything else we can help with

[2020-11-11 02:19] camillsir commented on #122
I'm doing a similar transition from version 0.0.4 to 1.x and discovered this change. When I tried using the new error classes I'm getting an exception.

It looks like the [base error class](https://github.com/okta/okta-sdk-python/blob/master/okta/errors/error.py#L1) does not inherit from Exception or BaseException which is a [requirement](https://python.readthedocs.io/en/latest/library/exceptions.

[2020-11-11 10:03] serhiibuniak-okta commented on #122
@camillsir This `Error` class wasn't designed to be an Exception. It is used just to pass specific error messages. On the other hand, your notice is really good. How did you want to use it? Maybe, it's worth to make custom exceptions.

[2020-11-11 17:59] DREW1990 commented on #135
Verified v1.0.4 is working! Thanks!

[2020-11-11 17:59] #135 closed

[2020-11-18 14:25] bretterer commented on #50
@directionless I know this issue is over 3 years old, but we have just revived this SDK and updated it to have python3 support. Check out our latest release in the 1.x series from pypi and let us know what you think.

[2020-11-18 14:25] #50 closed

[2020-11-18 14:34] bretterer commented on #8
I am going to close this Issue as stale. We have recently released a 1.x version of this SDK and believe this is now resolved.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 14:34] #8 closed

[2020-11-18 14:35] bretterer commented on #44
I am going to close this Issue as stale. We have recently released a 1.x version of this SDK and believe this is now resolved.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 14:35] #44 closed

[2020-11-18 14:38] bretterer commented on #49
We have recently released a 1.x version of this SDK and all api calls and setup is different. Please check out our new version on PyPi.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 14:38] #49 closed

[2020-11-18 14:39] bretterer commented on #51
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 14:39] #51 closed

[2020-11-18 14:39] bretterer commented on #53
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 14:39] #53 closed

[2020-11-18 14:52] bretterer commented on #58
@bmacauley This SDK specifically is only for management calls. The use cases for this can be found at https://developer.okta.com/docs/reference/ under the `Manage Okta Resources` heading.

We do not currently have an OIDC library specifically for Python, but it is on the roadmap to support in the future.

[2020-11-18 14:52] #58 closed

[2020-11-18 14:54] bretterer commented on #54
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

For creating an application, you can do the following:
[code]

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 14:54] #54 closed

[2020-11-18 15:02] bretterer commented on #52
@bmacauley We have fully updated our python library. As this library is meant to be managing resources only, we do require some sort of token to be provided. Our Management SDK (okta-sdk-python) does not handle any kind of authentication.
We do not currently have an authn library for python, but it is on our roadmap to have some sort of library for this in the future.

[2020-11-18 15:02] #52 closed

[2020-11-18 15:03] bretterer commented on #73
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

This new release includes pagination capabilities which should resolve this issue for you.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 15:03] #73 closed

[2020-11-18 15:04] bretterer commented on #75
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

This includes an update to our pagination of resources, so this appears to be resolved now.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 15:04] #75 closed

[2020-11-18 15:05] bretterer commented on #76
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

We have implemented a few checks around configuration to return better error messaging around this, however @rdegges is correct, the main issue here is that you are using the org url `dev-1234560-admin` but should be using `dev-123

[2020-11-18 15:05] #76 closed

[2020-11-18 15:06] bretterer commented on #78
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

This includes updates to the userProfile attributes that are available by default, however you are free to add any kind of attributes here during your api calls.

If you find that you are still having an issue, please let us know i

[2020-11-18 15:06] #78 closed

[2020-11-18 15:08] bretterer commented on #66
We have recently released a 1.x version of this SDK and all api calls and setup is different which should resolve this issue. Please check out our new version on PyPi.

I believe the new update fixes this issue as we have completely redone the SDK and the way API calls are created.

If you find that you are still having an issue, please let us know if you are still having this issue.

[2020-11-18 15:08] #66 closed

[2020-11-18 15:10] bretterer commented on #127
@ryanbackman We have released an update to the SDK that includes support for SAML1.1

I believe this update will resolve your concerns without having to update your application in Okta.

Please let us know if this is still an issue.

[2020-11-18 15:15] bretterer commented on #122
Internal Ref: OKTA-347117

[2020-11-18 18:34] ryanbackman commented on #127
Awesome!

That fixed the issue with the SAML 1.1 application.  I'm still running into problems with an app that has no SignOnMode.  I've included ```None: models.SamlApplication``` in my version of OKTA_SIGN_ON_TO_MODEL and that solves the issue.  Certainly and ugly hack, but all I'm trying to do is the list the applications a user has.

I get the following error with this particular application (

[2020-11-19 07:25] serhiibuniak-okta commented on #127
@ryanbackman Thank you for the new information. And is there any new KeyError after your small hack?

[2020-11-19 07:38] ryanbackman commented on #127
No error, but all my code does is retrieve a list of applications and the
users username.

On Wed, Nov 18, 2020, 11:25 PM Serhii Buniak <notifications@github.com>
wrote:

[2020-11-19 10:49] serhiibuniak-okta commented on #127
@ryanbackman I see, looks like we need to have some default model for such cases. Let me investigate it.

[2020-11-19 14:52] serhiibuniak-okta commented on #127
@ryanbackman Could you please, share more details on this application which is failing? It would be good to see similar screenshot as for office 365 above.

[2020-11-20 07:53] jackychow opened #144 "asyncio conflict with python 3.8?"
After including the okta sdk in my django project I got the following error:
[code]

After some googling I think it's because the `asyncio` package is in conflict with what's already included in python core 3.8. Has anybody else run into the same problem?

Looks like `asyncio` should no longer be needed for python version beyond 3.3.
https://pypi.org/project/asyncio/

is this here in order to supp

[2020-11-20 08:53] serhiibuniak-okta commented on #144
@jackychow Thank you for this detailed issue. Could you please, share a piece of code (and imports of course) where this error comes from? My first guess - **async** becomes a reserved word from Python 3.7. Also, it would be good if you can provide Django version, asyncio version and okta version.

[2020-11-23 02:55] jackychow commented on #144
Hi thanks @serhiibuniak-okta
Here are the versions for the packages:
django 3.1.3
asyncio 3.4.3 (latest - came from okta dependency)
okta 1.0.2

Thanks.

[2020-11-23 07:18] serhiibuniak-okta commented on #144
Hi @jackychow , is there any possibility to take a look at code? At least small piece that can help me to reproduce the error?

[2020-11-23 20:49] JonsSpaghetti opened #146 "SDK does not officially support update of user profile custom attributes"
Due to the way the UserProfile model is built, it has a set of properties that it uses in its dict when request data is serialized or response data is deserialized.

The set of properties is static which means that if you set a user profile attribute that is not part of the standard Okta attributes, it vanishes when you make your requests, and likewise when looking up a user and serializing their

[2020-11-23 22:03] bretterer commented on #146
Hi @JonsSpaghetti, Thanks for getting in touch about this.  UserProfiles are a unique cases here and sometimes a difficult thing to manage. I see that you currently have a workaround so it appears that you are not currently blocked, is this the case?

I would love to hear a bit more from you on how you would want to see this officially supported in the SDK and what you think it should look like.

[2020-11-23 22:26] JonsSpaghetti commented on #146
Correct that I am not currently blocked, not an urgent fix, and recognize that it's more complicated than just shoving something into UserProfile.

I think in my ideal scenario the UserProfile itself would just allow submission of attributes (custom or not) and would return from the API any issues with custom attributes (ex. attribute does not exist - guessing the API does this piece already).

Si

[2020-11-25 21:58] ryanbackman commented on #127
I'm not able to find any information about the "active_directory" application in the GUI.  I am able to find references to it if I run the Current Assignments Report, but that just lets me see the Application Name of "Active Directory."  Is this some sort of core "Application" since it is where we pull all our user information from?

[2020-11-26 08:03] serhiibuniak-okta commented on #127
Very interesting case. Could you please, get list of all applications via python requests or curl and show it? I'd like to see app names at least. It would be good to see additional data as well (but need to remove all sensitive data). Example of curl command to get list of apps:
[code]

[2020-11-30 15:47] serhiibuniak-okta commented on #122
@camillsir Custom exceptions added with version 1.1.0 https://github.com/okta/okta-sdk-python#exceptions

Please let us know if you have any other concerns or issues with our new SDK version.

[2020-12-01 10:54] serhiibuniak-okta commented on #146
@JonsSpaghetti Could you please, provide some code samples on how do you suppose to use custom attributes and your working workaround?
For example, if I avoid SDK and use simple curl request:
[code]
I get the following error, i.e. API doesn't allow to pass custom attribute:
`{"errorCode":"E0000001","errorSummary":"Api validation failed: newUser","errorLink":"E0000001","errorId":"oaep3MN__1BTTygxju

[2020-12-02 02:12] JonsSpaghetti commented on #146
@serhiibuniak-okta I believe the reason for that error is that you haven't added the user attribute to the schema for that organization/application.

Once adding one, you shouldn't get that error anymore.

As an example, per my first post, when I use the SDK, I end up having to do the following:
[code]

[2020-12-02 09:08] serhiibuniak-okta commented on #146
@JonsSpaghetti I've got your point, thanks for explanation. Let me investigate possible solutions. Feel free to add anything whatever comes to mind.

[2020-12-02 12:28] serhiibuniak-okta commented on #146
@JonsSpaghetti what if we add the following lines to UserProfile model:
[code]
will it cover your issue?

It will work like:
[code]

Result should looks like:
[code]

[2020-12-02 20:48] techjutsu-mikeb opened #151 "Expose request "headers" to provide additional functionality"
Expose the ability to provide additional "headers" (such as "X-Forwarded-For") for factor verification (example method = "verify_factor")

Some API calls have the ability to send additional headers.

I may consider forking this for a pull request.

[2020-12-02 21:10] bretterer commented on #151
Hi @techjutsu-mikeb, thanks for the report here.  This is a good idea here. I am going to address this with our engineer for python to see what we may be able to do for this.  If you are considering a fork and PR, we would be open to taking a look as well. Just be aware, the SDK is generated through openAPI, so you would need to make sure you update the templates where necessary and re-generate th

[2020-12-02 22:06] techjutsu-mikeb commented on #151
That would be great if there was "official" support added for that.

[2020-12-03 11:11] serhiibuniak-okta commented on #151
@techjutsu-mikeb Let me dig into it.
Meanwhile, if it's a blocker, you can write/use your own RequestExecutor (as per https://github.com/okta/okta-sdk-python#extending-the-client or https://github.com/okta/okta-sdk-python#extending-or-creating-new-classes).
We need to have something like:
[code]
Is it correct?
I will notify when "official" support is ready.

[2020-12-03 17:27] techjutsu-mikeb commented on #151
Thanks for the response @serhiibuniak-okta - I have no problem with the custom RequestExecutor. I need to provide the header and value only for specific API requests. I may need to use the raw API method prior to this going in.

Unless you can suggest other options?
Thank-you

[2020-12-03 17:33] serhiibuniak-okta commented on #151
@techjutsu-mikeb I'm working on solution, which will work like the following:
[code]

[2020-12-03 17:39] techjutsu-mikeb commented on #151
That looks great! Thanks. I'll be able to add custom headers per request/method execution which is what is supported by the factors verify API endpoint.

Thank-you @serhiibuniak-okta

[2020-12-08 09:29] serhiibuniak-okta commented on #122
I'm closing this issue as resolved. @achantavy @camillsir if you still have questions, feel free to reopen or create a new issue.

[2020-12-08 09:29] #122 closed

[2020-12-08 09:35] serhiibuniak-okta commented on #144
@jackychow I'm going to close this issue due to inactivity. Feel free to reopen this issue with any updates which can help in reproducing this error.

[2020-12-08 09:35] #144 closed

[2020-12-08 15:56] serhiibuniak-okta commented on #146
@JonsSpaghetti SDK 1.2.0 released. Full example how to work with custom attributes can be found here: https://github.com/okta/okta-sdk-python#get-and-set-custom-attributes
I'm closing this issue as resolved. Please, let us know if you have any questions/suggestions/etc.

[2020-12-08 15:56] #146 closed

[2020-12-09 13:21] briandean commented on #127
I'm having similar issues with list_applications and I also use the "special" active_directory app. Below is the json output for active_directory from /api/v1/apps from our tenant:
{
        "id": "XXXXXXX",
        "name": "active_directory",
        "label": "*ACTIVE-DIRECTORY-DOMAIN-NAME*",
        "status": "ACTIVE",
        "lastUpdated": "2020-12-09T01:59:25.000Z",
        "created": "2020-1

[2020-12-09 16:59] serhiibuniak-okta commented on #127
@briandean Thank you for this detailed output. Working on the solution.

[2020-12-14 01:27] RyanSiu1995 opened #157 "asyncio should not put under requirements.txt"
Hi community,
I am now using python 3.7+ with `pip-compile`.
And I will get error with asyncio if I installed it from pip.
From the doc in asyncio,
[code]
And also,
[code]
So, my suggestion here is to remove the asyncio and release the okta package with 3.3+ only.
Thank you!

[2020-12-14 09:07] serhiibuniak-okta commented on #157
Hi @RyanSiu1995 , thank you for this issue and PR, currently we're on discussion on this here - https://github.com/okta/okta-sdk-python/pull/149. I believe, we will cover it with the first PR, will keep you posted.

[2020-12-16 07:04] RyanSiu1995 commented on #157
Hi @sergiishamrai-okta, I don't see the update in the #149. Maybe you can first check out #158 and merge it to master.
It is a simple removal in the `asyncio`. Then, #149 can be rebased from the change in #158.

[2020-12-16 07:11] serhiibuniak-okta commented on #157
Hi @RyanSiu1995 , I've included both commits into one and just merged to master - https://github.com/okta/okta-sdk-python/pull/159. Need to wait until we can release v1.2.2. Thanks for your contribution.

[2020-12-16 15:34] serhiibuniak-okta commented on #151
@techjutsu-mikeb SDK release 1.3.0 is ready. I'm closing this issue as resolved. Feel free to open a new one in case of any errors or suggestions.

[2020-12-16 15:34] #151 closed

[2020-12-16 15:37] serhiibuniak-okta commented on #157
@RyanSiu1995 we decided to include some additional changes, so we released v1.3.0. It is ready. I'm closing this issue as resolved. Thanks again.

[2020-12-16 15:37] #157 closed

[2020-12-18 17:05] serhiibuniak-okta commented on #127
@ryanbackman @briandean okta-sdk-python v1.3.1 released. This should fix given errors. I'd love to hear a feedback if everything is fine.

[2020-12-18 17:41] ryanbackman commented on #127
I retested and it works for me!

On Fri, Dec 18, 2020 at 9:05 AM Serhii Buniak <notifications@github.com>
wrote:

[2020-12-18 18:44] bretterer commented on #127
Happy to hear that @ryanbackman Please let us know if there is anything else you come across.

[2020-12-18 18:44] #127 closed

[2020-12-29 23:40] DREW1990 opened #160 "Can't get values for existing custom attributes"
When using the Okta User API (`/api/v1/users/${userId}`) with `requests` or Postman, I'm able to retrieve all attributes, including existing custom attributes.

When using the SDK I only get a predefined list of attributes from the `UserProfile` class. The README mentions how to modify `UserProfile` and set new values for a custom attribute. However, I can't figure out a way to retrieve existing v

[2020-12-30 02:13] arvindkrishnakumar-okta commented on #160
@DREW1990 Thanks for your question! Our Python SDK team will follow-up on this after the holidays.

[2020-12-30 08:55] serhiibuniak-okta commented on #160
@DREW1990 Could you please, provide more details? (i.e. some code, sample output, etc.)
Full example under this section https://github.com/okta/okta-sdk-python#get-and-set-custom-attributes shows how to get custom attribute. It should be accessible via <user_obj>.profile.<custom_attribute_name>.

[2020-12-30 17:20] DREW1990 commented on #160
Here's an example using `requests` to get an existing custom attribute (`badgeNumber`) from a user:

[code]
Which returns a string of numbers.

However, when using the Okta SDK, I'm unable to retrieve the value for `badgeNumber`:
[code]
This results into an error: `AttributeError: 'UserProfile' object has no attribute 'badgeNumber'`

The example in the README  shows how to assign and create a cust

[2020-12-30 17:36] serhiibuniak-okta commented on #160
@DREW1990 Thank you for detailed response.
Currently, for variables set via config we use lowerCamelCase, but for object attributes (i.e. pythonic-way) snake_case.
Could you please, try access that value in the following way:
[code]
?
I believe, that's the way how it worked previously with regular attributes, i.e. described in model, like `firstName` and `first_name`.

[2020-12-30 17:50] DREW1990 commented on #160
Thanks for the quick response! Unfortunately that didn't work either:
[code]

`AttributeError: 'UserProfile' object has no attribute 'badge_number'`

[2020-12-30 18:31] serhiibuniak-okta commented on #160
Hmm, could you please, show the output of `print(user_info.profile)`? Maybe, some clue is inside

[2020-12-30 18:48] DREW1990 commented on #160
For privacy reasons I can't show the full output. But I did extract all of the keys.

Here are the list of `profile` keys that get returned when using the SDK:
[code]

When using the Okta API directly with requests, it will only show the attributes that are not `None`. I get the following keys:

[code]

Here are the custom attributes that we set in Okta:
![Screen Shot 2020-12-30 at 10 45 50 AM](ht

[2020-12-30 18:53] serhiibuniak-okta commented on #160
Thank you for all the details. Very interesting, looks like a bug. Let me investigate it. Are you unblocked using requests?

[2020-12-30 18:56] DREW1990 commented on #160
Awesome, thanks for the help! And nope, I can use requests for now. My team is just looking forward to using the Okta SDK for our projects going forward so we have some sort of consistency in our projects.

[2020-12-30 19:03] serhiibuniak-okta commented on #160
Glad to hear that! But we will be able to release new version with fix only after all holidays. Feel free to add anything to this issue you find might be useful.

[2020-12-30 23:51] ergyjb opened #161 "allow lowercase Keys for config files"
using a .ini file for the configs
'orgurl' and other keys fail to come in with the CamelCase that YAML provides.

see: https://docs.python.org/3/library/configparser.html

[2020-12-31 01:54] arvindkrishnakumar-okta commented on #161
@ergyjb Thanks for your question! Our Python SDK team will follow-up on this after the holidays.

[2021-01-08 08:17] serhiibuniak-okta commented on #161
Hi @ergyjb , could you please, provide more details? We use .yaml files for configuration: https://github.com/okta/okta-sdk-python#configuration-reference. If your project needs only .ini files, probably, you should convert variables to lowerCamelCase and we have such method here - https://github.com/okta/okta-sdk-python/blob/master/okta/helpers.py

[2021-01-08 12:35] serhiibuniak-okta commented on #160
@DREW1990 I can't reproduce the error.
I've added attribute and it works for me:
<img width="1108" alt="Screenshot 2021-01-08 at 14 16 59" src="https://user-images.githubusercontent.com/73126645/104016300-be1ade00-51be-11eb-8321-2e8844e4352d.png">

Could you please try run the following script with your config?
[code]
my output:
[code]

[2021-01-13 21:14] ergyjb commented on #161
No I just switched to YAML and that was better

[2021-01-13 21:14] #161 closed

[2021-01-14 08:40] serhiibuniak-okta commented on #161
Glad to hear that everything is fine. Feel free to open a new issue in case of any questions.

[2021-01-15 06:02] JonsSpaghetti opened #162 "Rate limit date format isn't handled properly and prevents hitting backoff code"
in okta.request_executor, it seems that when you get rate limited, the server passes back a Date header that contains a string containing a date/time with an unexpected format.

It seems that string is formatted in a way that the okta.util.convert_date_time_to_seconds doesn't expect and throws an exception.

[code]

It results in this (incomplete) stack trace:
[code]

I suggest standardizing this

[2021-01-15 08:40] serhiibuniak-okta commented on #162
@JonsSpaghetti Thank you for a detailed description of the issue. I'm looking into it. Is it a blocker? I don't see some easy workaround to unblock you, but writing own retry wrapper around request and playing with `rateLimit` configuration (set `maxRetries` to 0 to disable our retry logic):
[code]

[2021-01-15 20:21] JonsSpaghetti commented on #162
@serhiibuniak-okta I saw that you posted a fix for this, thanks for the quick turnaround.  The solution you posted makes sense to me so if we need to do this immediately I'll consider setting maxRetries to 0 and using separate retry logic or something similar.

Do you have any estimate when the change will go in/be available in a published version of the SDK?

[2021-01-16 13:08] serhiibuniak-okta commented on #162
@JonsSpaghetti The issue was in outdated date format. For easier workaround you can try reassign constant before any other import:
[code]
Hope, this helps. And regarding estimates about published version: I will clarify from Monday and reply with estimations.

[2021-01-19 15:52] serhiibuniak-okta commented on #162
@JonsSpaghetti This fix will be included in published version soon, next upcoming release.

[2021-01-20 14:18] serhiibuniak-okta commented on #162
@JonsSpaghetti Release v1.3.2 is ready, I'm closing this issue as resolved.

[2021-01-20 14:18] #162 closed

[2021-01-25 19:02] serhiibuniak-okta commented on #160
@DREW1990 I am going to close this issue as resolved, because I can't reproduce the issue: it works for me with `client.get_user`, `client.list_users`, etc. But please reach out to us if you find that your issue still exists.

[2021-01-25 19:02] #160 closed

[2021-02-02 06:08] rdark opened #166 "SamlApplicationSettingsApplication/missing `app` key"
I'm currently working on a DR solution for Okta that allows us to backup our configuration in serialised format to be later restored.

To do this, we're relying primarily on the ability to instantiate the appropriate `OktaObject` type using the `config` dict, and then calling the relevant `create_x` method.

Most of the other application types (e.g `BookmarkApplication`) have a corresponding class

[2021-02-02 07:38] serhiibuniak-okta commented on #166
@rdark Thanks for posting this issue. Could you please, share some code on how serialisation/deserialisation is performed in your project? I'll take a look at SAML applications meanwhile.

[2021-02-02 11:14] serhiibuniak-okta commented on #166
If I understood correctly, SamlApplicationSettings has `signOn` attribute, while others have `app` attribute, that's the root of the issue. The thing is, this config is set in openapi spec, and our code is auto-generated, based on spec. Let me investigate what we can do. To unblock you, I can suggest using dynamic serialisation, i.e. check type of app or existing fields before serialisation and us

[2021-02-02 14:44] rdark commented on #166
Thanks for quick response @sergiishamrai-okta!

In terms of serialisation, I'm just calling the `.as_dict()` method on the result (in this case, the output of `list_applications`, which returns a `List[Application]`).

The issue appears before any serialisation on my side - the response object returned as second element in tuple from [here](https://github.com/okta/okta-sdk-python/blob/master/okta/

[2021-02-02 15:12] serhiibuniak-okta commented on #166
Thanks for more details, but it seems to me like `signOn` and `signOnMode` are a bit different essences. `signOnMode` attribute should be present in response, while `signOn` is an attribute of few specific models, like SamlApplicationSettings, mentioned above. Could you please, share some traceback or code? I'd like to reproduce the issue and/or have better understanding on how I can help you.

[2021-02-02 17:39] rdark commented on #166
Sure - the following code illustrates the difference between the settings from the application object and the settings from the response object - ideally the application object should retain all of the data needed to reconstruct itself rather than discarding it.

[code]

[code]

[2021-02-02 17:52] serhiibuniak-okta commented on #166
@rdark Thanks for additional details. Let me investigate it. So, in the sample above, you would like to delete `app` (with given appId) and recreate it using the same `app` object as a parameter?

[2021-02-02 18:16] rdark commented on #166
Yep, exactly this 👍

[2021-02-04 15:19] serhiibuniak-okta commented on #166
@rdark
According to my investigations so far, we can't create any application in this way, but I'd like to investigate a bit more about your particular case. Are you able to create your app via curl request (or postman, doesn't matter)? And if yes, then could you pls share body of request, i.e. app parameters?

For example if we're creating bookmark app, it will look like this:
[code]

[2021-02-05 14:16] serhiibuniak-okta commented on #166
@rdark
I've investigated a bit more and successfully re-created custom saml app. I've got sample body from postman collection (can be found here [https://developer.okta.com/docs/reference/api/apps/](https://developer.okta.com/docs/reference/api/apps/)).
But, the thing is, when we use method `get_application` it returns additional information about given application, for example, status of applicat

[2021-02-11 20:53] mvitt opened #167 "'RADIUS_FOR_CISCO_ASA' & 'AWS_FEDERATED_LOGIN' not recognized as valid ApplicationSignOnModes"
When getting a list of all applications via: `apps, resp, err = await client.list_applications()` it fails with the message: `'RADIUS_FOR_CISCO_ASA' is not a valid ApplicationSignOnMode` & `'AWS_FEDERATED_LOGIN' is not a valid ApplicationSignOnMode` respectively. It seems that those two application sign on modes need to be added to the `application_sign_on_mode.py` file. Also, equivalent models ne

[2021-02-11 20:58] laura-rodriguez commented on #167
Hi @mvitt,

Thanks for reporting this issue. We'll review this internally and provide you an update when we have more info to share.

[2021-02-12 13:09] serhiibuniak-okta commented on #167
@mvitt, thanks again for detailed issue. Models are being generated according to our openapi spec. First, we need to update openapi spec. This requires some time. To unblock you, I can suggest some workarounds. For example, it is possible to get original response body (before it is being mapped to models):
[code]
And depending on your needs, you can filter failed apps or process manually or someth

[2021-02-18 16:03] serhiibuniak-okta commented on #167
@mvitt After some internal discussions, we've decided to avoid errors so far by using "custom" signOnMode when we encounter any "new" signOnMode. Thus, sdk will pick basic Application model for such apps and `list_applications` won't fail.

Here's PR: https://github.com/okta/okta-sdk-python/pull/168. It will be added within next sdk release.

Please, reach out to us if you have any additional ques

[2021-02-19 09:28] serhiibuniak-okta commented on #166
@rdark I'm going to close this issue as resolved. Feel free to reopen this issue or reach out to us if you have any additional questions or concerns.

[2021-02-19 09:28] #166 closed

[2021-02-23 21:19] njonesuser opened #170 "Would be nice to have a sample code as a use case to pull custom okta user attributes"
I am looking for an example code that would be a replacement for the code below:
oidc = OpenIDConnect(app)
okta_client = UsersClient("{{ OKTA_ORG_URL }}", "{{ OKTA_AUTH_TOKEN }}")

@app.before_request
def before_request():
    if oidc.user_loggedin:
        g.user = okta_client.get_user(oidc.user_getfield("sub"))
    else:
        g.user = None

I want to be able to access custom attributes thru g

[2021-02-24 08:20] serhiibuniak-okta commented on #170
Hi @njonesuser. If I understand this sample correctly, you want to access attributes of OKTA user model through Flask-oidc user model? If it is correct, I can suggest write a bit complicated custom flask user model or get okta user manually via API, because these models represent different entities. Let me know if it works for you and I'll be able to help you in achieving this goal.

[2021-02-24 11:45] serhiibuniak-okta commented on #170
I've investigated a bit more and it looks like you're trying to get okta user via `okta_client.get_user`. This method is asynchronous, thus we need to add some wrapper to get user:

[code]

Please, let us know if it helps.

[2021-02-24 15:23] njonesuser commented on #170
Hi Serhii,

I can't use API because our license doesn't allow us to map claims. Right now I am getting 'sub', 'name' and 'email' attributes only using OpenIDConnect user_getinfo() methode.
Prior to that, I have used the code provided as a sample. When I have looked at the okta-sdk-python okta package, I realized that it's been updated back in December to allow custom attributes to be reached.
Let

[2021-02-24 16:59] njonesuser commented on #170
I will give it a try. Thanks a lot.

[2021-02-24 16:59] serhiibuniak-okta commented on #170
Hi Nina,

Now things became more complicated.
Correct me if I'm wrong: you want to access custom attributes of OKTA user model, but you can't map claims from oidc (jwt token) to real user represented by OKTA user model? In the other words, you want to get them via OpenIDConnect user_getinfo() method, and don't use okta_client.get_user(oidc.user_getfield("sub"))?
In this case, you have to incorpora

[2021-02-24 17:33] njonesuser commented on #170
What is the path to import UserClient?

Nina Jones

Business Intelligence Developer

Methode Electronics, Inc

8750 W. Bryn Mawr Ave 10TH floor.

Chicago, IL, 60631

(708) 457-3254

________________________________
From: Nina Jones <njones@methode.com>
Sent: Wednesday, February 24, 2021 9:23 AM
To: okta/okta-sdk-python <reply@reply.github.com>
Subject: Re: [okta/okta-sdk-python] Would be nice to h

[2021-02-24 17:38] serhiibuniak-okta commented on #170
I'm not sure if I got it, but we have UserClient accessible from okta.client:
[code]
Or full path:
[code]

[2021-02-24 17:39] njonesuser commented on #170
Serhii,

Figured out the path. Now I get this error:
[cgid:error] [pid 2764217:tid 139636466759424] [client 10.50.184.87:52648]     request, error = await self._request_executor.create_request(: /var/www/html/okta-example/index.cgi, referer: http://usil02-bidev03/okta-example/index.cgi/login?iss=https%3A%2F%2Fdev-320326.okta.com[Wed Feb 24 11:34:13.727775 2021] [cgid:error] [pid 2764217:tid 139636

[2021-02-24 17:45] serhiibuniak-okta commented on #170
Nina, could you please share some code or explain what're you want to achieve?
For any requests we use class Client, which inherits from many classes including UserClient, but additionally class Client has request_executor and all other stuff needed to perform requests. In other words, if you want to execute method "UserClient.list_users", you need to execute "Client.list_users"

[2021-02-24 18:47] njonesuser commented on #170
I only need to execute UserClient.get_user. I have a user logged in my Flask app. In order to control access to some pages in the app, I need to get a value for the custom attribute that was added to the user's profile in Okta by the admin.

[2021-02-24 18:56] serhiibuniak-okta commented on #170
You need to execute Client.get_user, that's how it works.

[2021-02-24 19:21] njonesuser commented on #170
Where do I import Client from?

[2021-02-24 19:31] njonesuser commented on #170
And what should I pass to Client as user_config: dict = {}

[2021-02-24 19:36] serhiibuniak-okta commented on #170
From README (https://github.com/okta/okta-sdk-python):

[code]

Then you will be able to execute
[code]

[2021-02-24 19:44] njonesuser commented on #170
And where do I get user_id from?

[2021-02-25 08:55] serhiibuniak-okta commented on #170
Hi Nina,

user_id in most cases represented by "sub" claim (exactly, like you tried to do from the start), and here's a bit modified working example to make things more clear:

[code]
And another way to get custom attributes (as we discussed in few posts above) - incorporate them into jwt token.

Please, let us know if either of approaches work for you.

[2021-02-25 17:15] njonesuser commented on #170
Thank you for being helpful and patient. It works.

[2021-02-25 17:47] serhiibuniak-okta commented on #170
Thank you for the confirmation that it works. I'm going to close this issue as resolved. Feel free to reopen this issue or create a new one if you still have some questions.

[2021-02-25 17:47] #170 closed

[2021-02-25 20:41] bnknkl opened #172 "Using list_group_users returns an HTTP 405 error"
Hi all,

I'm testing out list_group_users for a new service, and it's returning a 405 error on the call:

`{'message': 'Okta HTTP 405 E0000022 The endpoint does not support the provided HTTP method'} `

The code I'm using is as follows, shortened for relevance:

[code]

I'm able to make this call without issues using requests, though.

[2021-02-26 08:31] serhiibuniak-okta commented on #172
Hi, @bnknkl . Thanks for posting this issue. Usually, this kind of error appears when API endpoint accept, for example, only GET requests and we're trying to send, for example, POST request.
Also, I used your code and it works for me. Thus I need a bit more details:
1) do you use the latest version of this sdk? (1.4.0)
2) do your code works without query_params? i.e. `users, response, error = awai

[2021-03-02 00:41] wsanchez opened #173 "No error handing follows call to self._http_client.send_request in fire_request_helper"
I'm getting this exception when I call `list_users()` on some of my Mac systems:

[code]

This is not happening on one of the three Macs I'm trying this on.

It appears that the call to `_, res_details, resp_body, error = await self._http_client.send_request(request)` right before then (lines 220-221) is resulting in an error, and there is no check in place here to catch this error.

Specifically,

[2021-03-02 00:47] wsanchez commented on #173
TLS issue resolved by running `sudo -H "/Applications/Python 3.9/Install Certificates.command"`

[2021-03-02 01:06] bryanapellanes-okta commented on #173
@wsanchez,
Thanks for bringing this to our attention and I apologize for the inconvenience.  I will bring this to the attention of the python team to be addressed as appropriate.  Thanks for using Okta!

[2021-03-02 08:45] serhiibuniak-okta commented on #173
@wsanchez Thanks for providing a lot of details, I'll take care of it. I will post updates here.

[2021-03-02 16:02] bnknkl commented on #172
Hi @serhiibuniak-okta, thank you for your response.

1. Yes, using 1.4.0
2. Code still throws the same error response when removing the `query_params=params` statement

[2021-03-02 16:20] serhiibuniak-okta commented on #172
@bnknkl it's very strange. Can we simplify your method to double-check if the error comes from list_group_users?
Please, try to run with this method instead of that long method and check if error exists:
[code]

[2021-03-03 17:37] bnknkl commented on #172
I stripped it down to the block you recommended and, while it's not throwing an error anymore, it's also returning `None` as the member list, even though the group is populated.

[2021-03-03 18:01] bnknkl commented on #172
Nevermind, I resolved this - was user error for the last piece.

Looks good from here, thank you!

[2021-03-03 18:01] #172 closed

[2021-03-03 18:03] serhiibuniak-okta commented on #172
@bnknkl Thank you for confirming that everything is fine. Feel free to reopen issue or create a new one in case of any questions.

[2021-03-04 01:57] wsanchez opened #177 "It doesn't appear to be possible to use an HTTPClient subclass"
I'm looking to capture HTTP traffic for debugging, so I thought I might subclass `HTTPClient` as suggested in the README and some logging in `HTTPClient.send_request`…

By default it looks like [`HTTPClient` is instantiated by `RequestExecutor`](https://github.com/okta/okta-sdk-python/blob/30eacc4b1fcef91e70b63f46f1432ba560f3f06c/okta/request_executor.py#L62) and [`RequestExecutor` is instantiated

[2021-03-04 05:52] bryanapellanes-okta commented on #177
@wsanchez ,
Thanks for reaching out! I'll ask our Python developers to take a look and reply back here.

[2021-03-04 07:12] serhiibuniak-okta commented on #177
@wsanchez Thanks for posting this issue. In fact, we've discovered this issue too and here's a PR to fix it https://github.com/okta/okta-sdk-python/pull/176
I will post updates here.

[2021-03-04 17:58] wsanchez commented on #177
OK that PR looks like what I need, thanks.

[2021-03-04 22:00] wsanchez commented on #177
In case anyone needs a work-around with the current version:

[code]

[2021-03-05 08:11] serhiibuniak-okta commented on #177
@wsanchez Nice workaround! My fix is merged to master and will be included into upcoming SDK release. Will keep you posted.

[2021-03-05 08:32] serhiibuniak-okta commented on #173
@wsanchez Fix is merged to master and will be included into upcoming SDK release. Will keep you posted.

[2021-03-05 08:56] serhiibuniak-okta commented on #167
@mvitt It turned out, there might be another issues related to signOnMode, thus a new PR should cover it: https://github.com/okta/okta-sdk-python/pull/174
It is merged and will be included into upcoming release. Will keep you posted.

[2021-03-05 15:28] serhiibuniak-okta commented on #177
@wsanchez SDK v1.4.1 released, I'm closing this issue as resolved. Feel free to reopen this issue if your problem still exists.

[2021-03-05 15:28] #177 closed

[2021-03-05 15:29] serhiibuniak-okta commented on #167
@mvitt SDK v1.4.1 released. I'm closing this issue as resolved. Feel free to reopen this issue if your problem still exists.

[2021-03-05 15:29] #167 closed

[2021-03-05 15:30] serhiibuniak-okta commented on #173
@wsanchez SDK v1.4.1 released. I'm closing this issue as resolved. Feel free to reopen this issue if your problem still exists.

[2021-03-05 15:30] #173 closed

[2021-03-05 19:26] wsanchez commented on #173
Great, thanks

[2021-03-16 20:13] wouterhund opened #185 "list_factors: 'FIDO' is not a valid FactorProvider"
When doing `okta_client.list_factors` for a user which has `"provider": "FIDO"` the SDK returns the following error:

```'FIDO' is not a valid FactorProvider```

It looks like `FIDO` is not present in https://github.com/okta/okta-sdk-python/blob/master/okta/models/factor_provider.py

[2021-03-16 20:37] arvindkrishnakumar-okta commented on #185
@bretterer can you please take a look?

[2021-03-17 07:24] serhiibuniak-okta commented on #185
@wouterhund Thanks for posting this issue. The thing is okta-sdk-python uses a bit outdated openapi specification which is used to generate core of SDK. We're working on update. We'll keep you posted.

[2021-03-19 23:41] wsanchez opened #188 "builtins.TypeError: Cannot serialize non-str key 1"
I'm seeing this traceback as I delete a bunch of users to clean up from testing:

[code]

This is failing in `send_request` in `http_client.py` where `aithttp.request(**params)` is called.

The value if `params` in one of these cases was:

[code]

I'm issuing a steady stream of delete requests, and this happens for a bunch of requests in a row, then is fine for a while, then repeats again.  It's p

[2021-03-20 03:31] arvindkrishnakumar-okta commented on #188
@serhiibuniak-okta can you assist with this?

[2021-03-22 08:29] serhiibuniak-okta commented on #188
@wsanchez Thank you for posting this issue. aiohttp requires all headers have type str, and in this sample we have int: `'X-Okta-Retry-Count': 1`. I'm looking into it.

[2021-03-29 20:07] javamonkey79 commented on #188
I am experiencing this error as well. My use case, is that I have more than the max limit of records in a day for my query (1k), so, I split the query up by hour. When I run it for 3 days, it always fails on the end of the 3rd days call. So, I think there is some limit to the number of calls in a period of time (eg I'm getting rate limited). The only way I've found to fix it, is to reinitialize th

[2021-03-30 00:36] wsanchez opened #191 "How to rate limit?"
I've gone through some effort to parallelize requests (by running up to 32 simultaneously) so that I can import users as quickly as possible, and then run into rate limits.

I am currently managing this (with mixed success) by trying to manage the rate at which I throw out requests, but I would like to instead use the Okta response headers to know when I need to slow things down and when I can ram

[2021-03-30 07:00] serhiibuniak-okta commented on #188
@wsanchez @javamonkey79 Fix for serialize error is merged to master and will be included into upcoming release. If there are any other issues with rate limits, please, open a new issue.

[2021-03-30 07:27] serhiibuniak-okta commented on #191
@wsanchez Thanks for paying attention to issues with rate limits, let's clarify everything step by step.
1) yes, currently you can access headers only via private attribute `_headers` of response object;
2) sdk handles 429 error automatically and waits for some time before automatic retry, nothing is being logged so far; wait time is calculated by the following formula `retry_limit_reset - date_ti

[2021-03-30 16:54] serhiibuniak-okta commented on #188
@javamonkey79 Currently, we release it manually and upload package to PyPI. Usually, we include few important fixes and test it before release, so it will happen soon, but it's hard to provide exact time.

[2021-03-30 16:59] javamonkey79 commented on #188
Great, I guess if you can reply when they release is complete that would be
helpful. Thank you!
Shaun
On Tue, Mar 30, 2021 at 9:55 AM Serhii Buniak ***@***.***>
wrote:

--
George Bernard Shaw – A Splendid Torch. This is the true joy in life, the
being used for a purpose recognized by yourself as a mighty one; the being
a force of nature instead of a feverish, selfish little clod of ailments
and gr

[2021-03-30 17:03] serhiibuniak-okta commented on #188
@javamonkey79 Yes, we will keep you posted here.

[2021-03-30 17:17] serhiibuniak-okta commented on #191
What I'm thinking about - is that something might be wrong with dates and calculations. For example, most European countries had timeshifting past Sunday due to Daylight Saving Time, so it could also affect the calculation. I'll add logs soon, but you can do it for yourself to check wait time:
https://github.com/okta/okta-sdk-python/blob/master/okta/request_executor.py#L247-L250

[2021-03-30 17:20] wsanchez commented on #191
OK, in case it matters: the testing I did that hung was before the DST change.

[2021-03-30 18:12] serhiibuniak-okta commented on #191
Thanks for that information, we'll figure out what's wrong.

[2021-04-01 08:47] serhiibuniak-okta commented on #191
@wsanchez SDK v1.5.1 is ready. Could you please, enable logs and run your tests again? Then we'll continue investigate why it  hangs.

[2021-04-01 08:48] serhiibuniak-okta commented on #188
@wsanchez @javamonkey79 SDK v1.5.1 is ready, I'm closing this issue as resolved. Feel free to reopen this issue if your problem still exists.

[2021-04-02 23:11] wsanchez opened #194 "Need a way to copy a UserProfile object"
The docs for updating a user say that one should fetch the user from Okta, then take, the `UserProfile` from the retrieved `User` object, and then create a new `User` with that modified profile.

The problem with that process is that it mutates the original user's profile.  I'd like to be able to create the modified profile from a copy of the original, so I don't modify the original, which might h

[2021-04-03 00:49] bryanapellanes-okta commented on #194
@wsanchez,
Thanks for bringing this to our attention!  I've added an item to the backlog for review and prioritization.  Our python developers will take a look and comment when we have more to share.

Thanks for using Okta!

[2021-04-03 14:15] wsanchez commented on #194
I'm using this now:

[code]

But I'm still running into the name mangling issue, so perhaps my issue is unrelated to copying.

The problem is that when I do something like this:

[code]

Which yields an error:

[code]

I'm logging the request, and it looks like this:

[code]

Note that setting `profile.wp_siteurl` ended up sending a profile attribute named `wpSiteurl` instead of `wp_siteurl`.

[2021-04-03 19:27] wsanchez commented on #194
Note I also tried avoiding this by not updating the `wp_siteurl` on updated users for now, but this fails anyway: if the user has that attribute set in Okta already, then when I fetch the user record and try to update it with a different changed attribute, I still see the above error.

[2021-04-05 07:52] serhiibuniak-okta commented on #194
@wsanchez Thanks for providing a lot of details, investigating is much easier now. It is true that all attributes in UserProfile model are being converted to lowerCamelCase before request. So, as a workaround temporarily, you can use simple dict instead of model, i.e.
[code]
Meanwhile, we'll work on this problem. Will keep you posted.

[2021-04-05 16:36] wsanchez commented on #194
OK that works.  One correction: the second argument isn't the profile dict, but a user dict:

[code]

[2021-04-07 00:30] techjutsu-mikeb commented on #185
This is also affecting our usage of the Okta Python SDK.

[2021-04-07 06:04] serhiibuniak-okta commented on #185
@techjutsu-mikeb Thanks for letting us know, fix is ready, but need to be thoroughly reviewed - the change is huge. Will keep you posted.

[2021-04-08 15:13] serhiibuniak-okta commented on #185
@wouterhund @techjutsu-mikeb SDK v1.6.0 is ready. Please us know if your issues are resolved.

[2021-04-08 15:17] serhiibuniak-okta commented on #194
@wsanchez SDK v1.6.0 is ready. I'm closing this issue as resolved. Feel free to reopen this issue or create a new one if your problem still exists.

[2021-04-08 15:17] #194 closed

[2021-04-08 17:25] techjutsu-mikeb commented on #185
@serhiibuniak-okta - I just tested the new v1.6.0 version of the library and it appears to properly support this now.

[2021-04-09 06:45] serhiibuniak-okta commented on #185
@techjutsu-mikeb Thanks for letting us know, I'm closing this issue as resolved.

[2021-04-09 06:45] #185 closed

[2021-04-19 12:29] serhiibuniak-okta commented on #191
@wsanchez I can't figure out what might be wrong without any logs from your side. Does the problem still exist? I'm going to close this issue as stalled.

[2021-04-21 15:13] serhiibuniak-okta commented on #191
@wsanchez  I'm closing this issue. Feel free to reopen this issue or create a new one if your problem still exists.

[2021-04-21 15:13] #191 closed

[2021-05-04 17:15] Tennyx opened #198 "Python SDK list_applications() method returns inconsistent types for sign_on_mode field. (str/enum)"
First mentioned here: https://devforum.okta.com/t/okta-python-sdk-application-signonmode/14057

I was able to reproduce this with the following script:

[code]

this prints app.sign_on_mode alongside its type. For instance, when i run on my org I get the following:

[code]

This works differently than the raw API call to /apps which simply returns uppercased strings for signOnMode.

The customer i

[2021-05-04 17:38] Tennyx commented on #198
Possible code snippet in question:

https://github.com/okta/okta-sdk-python/blob/46184663baccb926dc14ab964dfd9406d375de0a/okta/models/application.py#L116

[2021-05-04 17:42] aarongranick-okta commented on #198
@Tennyx Thank you for your report. An Okta engineer has been assigned to this issue. (internal ref: OKTA-392805)

[2021-05-05 03:35] gstotts commented on #198
Found Bookmarks also return as an object of type `<aenum 'ApplicationSignOnMode'>` instead of of string as well.

[2021-05-05 03:50] gstotts opened #199 "Bookmarks Lose the URL"
Pulled in applications via the `.list_applications()` function and found that the URL used for the bookmark is not being pulled into the configs that are output despite being available in the API.  I would've expected it to be under the `setttings.app` attributes.

Example Returned the API:
[code]

Returned From SDK:
[code]

[2021-05-05 07:52] serhiibuniak-okta commented on #199
@gstotts Thanks for bringing this up. The issue is in openapi spec, which doesn't describe `settings.app` properly. First, we'll update spec and re-build Python SDK using it. As a temporary workaround, I can suggest getting those parameters from raw response:
[code]

[2021-05-05 08:01] serhiibuniak-okta commented on #198
@Tennyx This looks strange as all of those signOnModes listed here: `okta/models/application_sign_on_mode.py`
Could you please, show the raw output for the application with signOnMode `ApplicationSignOnMode.BROWSER_PLUGIN <aenum 'ApplicationSignOnMode'>` (i.e. output from `resp._body`)?

[2021-05-05 12:18] Tennyx commented on #198
@serhiibuniak-okta sure thing. This is my output for

[code]

SAML_2_0
OPENID_CONNECT
BROWSER_PLUGIN
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT
AUTO_LOGIN
AUTO_LOGIN
AUTO_LOGIN
AUTO_LOGIN
SAML_2_0
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT
OPENID_CONNECT

[2021-05-05 12:21] serhiibuniak-okta commented on #198
@Tennyx thanks, but I'd like to see full config for browser_plugin app, just like in this issue - https://github.com/okta/okta-sdk-python/issues/199

[2021-05-05 12:34] serhiibuniak-okta commented on #198
@gstotts , @Tennyx which sdk version do you use? With version 1.6.0, I've got normal response for a bookmark app (app sample params used from issue #199):
[code]

[2021-05-05 12:44] Tennyx commented on #198
@serhiibuniak-okta gotcha. Is this what you need?

from resp._body:

[code]

And from apps:

[code]

[2021-05-05 12:49] serhiibuniak-okta commented on #198
@Tennyx Yes, thanks, investigating.

[2021-05-05 12:50] Tennyx commented on #198
Also, 1.6.0 here!

[2021-05-05 18:09] warrenySC opened #201 "Unable to set value for custom attribute that was previously empty/null with update_user"
I am seeing this behavior when following the code sample from https://github.com/okta/okta-sdk-python#update-a-user

Repro steps:
1. Create a custom attribute for the Okta profile
2. Create a user in Okta admin dashboard
3. Update the user profile using the SDK with code snippet below
4. Observe that the attribute was not updated
5. Edit the Okta profile in the UI and give the attribute a random v

[2021-05-05 20:17] aarongranick-okta commented on #201
@warrenySC Thank you for the report. One of our Python engineers will investigate. (internal ref: OKTA-393273)

[2021-05-06 04:41] gstotts commented on #198
1.6.0 as well.

[2021-05-06 07:21] gstotts commented on #198
And interestingly, I tried running a basic output of `print(app.sign_on_mode, type(app.sign_on_mode), type(app.settings))` and returned the following:

[code]

[2021-05-06 07:39] serhiibuniak-okta commented on #198
@gstotts, thanks for giving more details. Most of issues should be fixed with the following PR - https://github.com/okta/okta-sdk-python/pull/200
The only thing I am interested in: these outputs
[code]
Could you please, provide at least one of these application in json format as you did it for bookmark?

[2021-05-06 07:50] serhiibuniak-okta commented on #201
@warrenySC Thanks for providing a lot of details. As a temporary workaround you can try:
[code]

Let me know if it works for you. Meanwhile, I'll investigate this issue.

[2021-05-06 11:48] Andrey-Danilenko commented on #73
@bretterer Hello! I've got the several problem in SDK ver. 1.6.0
I used OktaClient::list_group_users() method and got only 200 records. I tried to use query_params.limit, but it worked only with numbers lesser than 200. Seems like 200 is a hard limit, and SDK force me to use pagination. Can I off the pagination or set limit more than 200 in some way?
Thank you!

[2021-05-06 12:37] serhiibuniak-okta commented on #73
@Andrey-Danilenko Yes, 200 is a hard limit and you have to use pagination (it doesn't depend on SDK). How to use pagination with Python SDK - https://github.com/okta/okta-sdk-python#pagination

[2021-05-06 13:23] gstotts commented on #198
@serhiibuniak-okta Those ones all appear to be `active_directory`.

[2021-05-07 15:02] klpradeepkl opened #202 "get_user call returning different attribute name as part of result object"
I am having code as below, as in SDK documentation.

  config = {
        'orgUrl': 'https://dev-11111.okta.com',
        'token': '<<Token>>'
    }
    okta_client = OktaClient(config)
    user_info, resp, err = await okta_client.get_user("test2@test.com")
 new_profile = user_info.profile
    new_profile.nick_name = 'Test'

updated_user_obj = models.User({'profile': new_profile})
 updated_user, _

[2021-05-07 15:17] serhiibuniak-okta commented on #202
@klpradeepkl Thanks, for posting this issue. Your code looks fine. So, when you update `nick_name` - nothing gets updated? This field was empty before update?
We have related issue for custom attributes - https://github.com/okta/okta-sdk-python/issues/201
We will cover both issues.

[2021-05-07 15:57] klpradeepkl commented on #202
Thanks for looking into the issue. That is correct. In Okta tenant, nickName is empty after execution of python script. It was empty before running the script. Result object is none. I am not sure why nick_name needs to be provided (while using python SDK) when in okta, standard attribute name is nickName.

Regarding custom attribute issue, the scenario that i am facing is different. i have infact

[2021-05-07 17:35] serhiibuniak-okta commented on #202
Regarding basic attributes: we have casting to snake_case to make naming in "pythonic way". We will consider supporting both naming variants. So, if you provide "nick_name", it works for you?
Regarding custom attributes: yes, that's the issue, we're working on it.

[2021-05-08 01:28] klpradeepkl commented on #202
As of now both with nick_name and nickName(as in Okta tenant) both are not working.

[2021-05-11 01:05] martinvelez opened #203 "Remove flatdict requirement"
Many companies require internal approval before using an open source pip package.  Often, the internal approver has to review not only the package but also the other pip package it depends on.

For example, I noticed that this project depends on `flatdict`.  I see that this is used to help prune the config.  Could that dependency be removed?  I figure the _prune_config method could be written with

[2021-05-11 01:41] bryanapellanes-okta commented on #203
@martinvelez,
Thanks for reaching out!  I'll bring your request to the attention of our python developers.  Someone will respond here with more.

Thanks for using Okta!

[2021-05-11 11:46] serhiibuniak-okta commented on #202
@klpradeepkl I've tested updating few fields with latest SDK version (including, nick_name) - it works for me. So, I have few questions:
1) which version of SDK do you use? v1.6.0 available for now
2) could you please, turn on logs https://github.com/okta/okta-sdk-python#logging and show http request (hide sensitive information), for example:
[code]

[2021-05-11 17:55] martinvelez commented on #203
I didn't see the other usages of FlatDict in the Github search results.  I see them now looking at https://github.com/okta/okta-sdk-python/blob/master/okta/config/config_setter.py.  I understand that removing a dependency can be non-trivial and it might be in this case.

I just wanted to bring to your attention that adding some dependencies like `flatdict` solves an engineering problem but potenti

[2021-05-12 08:14] serhiibuniak-okta commented on #199
Thank you for letting us know it works and thanks for using OKTA!

[2021-05-12 08:31] serhiibuniak-okta commented on #203
I've got your point too. First of all, thanks for attracting our attention to this, we really appreciate this.
At this point, I consider this issue as non-critical, but we'll keep it in mind.
I see several ways how to deal with this:
1) we'll take a look at it after fixing all critical issues
2) if it is critical for you, any contribution is welcome, i.e. you can provide your own solution: we'll r

[2021-05-13 17:33] martinvelez commented on #203
Yes, this works.  If I have time.  I'll take a shot at it.

[2021-05-13 17:33] #203 closed

[2021-06-22 12:22] explody opened #210 "Pagination yields inconsistent data between first request and subsequent requests"
Version: 1.6.0
Python: 3.8.2

The scenario is that when fetching application users, I noticed that in the returned items from the initial request, each AppUser had the "_links" attribute, but in the data set from response.next(), "_links" was missing.  I confirmed that manually doing API calls, all returned items had the "_links" key, in first and subsequent pages.

Digging into the code, I found

[2021-06-22 13:23] serhiibuniak-okta commented on #210
@explody Thanks for this issue with providing a lot of details. And yes, this problem looks like a non-trivial one, need to think a bit.
You can do a PR, but you'll need to sign CLA https://developer.okta.com/cla/ in order to accept your PR

[2021-06-22 15:54] explody commented on #210
I submitted a PR that changes form_response_body to a static method, and uses that for paginated results - all tests pass and it's working fine for me locally but yes, it's potentially complicated.

In any case, I just sent a signed CLA over to your folks, so do whatever you like with it ;)

[2021-06-22 16:46] serhiibuniak-okta commented on #210
Thanks @explody , I'll investigate a bit deeper the problem and will review your PR.

[2021-06-24 07:09] serhiibuniak-okta commented on #210
@explody SDK v1.7.0 has been released, I'm closing this issue as resolved.

[2021-06-24 07:09] #210 closed

[2021-06-24 07:10] serhiibuniak-okta commented on #202
@klpradeepkl SDK v1.7.0 has been released, I'm closing this issue as resolved. Feel free to reopen this issue or create a new one if your issue still exists.

[2021-06-24 07:10] #202 closed

[2021-06-24 07:13] serhiibuniak-okta commented on #201
@warrenySC SDK v1.7.0 has been released. Now you can use custom attributes as usual. I'm closing this issue as resolved. Feel free to reopen this issue or create a new one if your problem still exists.

[2021-06-24 07:13] #201 closed

[2021-07-02 15:26] serhiibuniak-okta commented on #198
@Tennyx @gstotts I suggest convert all sign_on_modes to enum, here's a PR: https://github.com/okta/okta-sdk-python/pull/215
In this case all sign_on_modes should be the same type (except None, of course). Given enum is comparable with strings, thus shouldn't brake comparison logic. Does it work for you?

[2021-07-08 12:31] serhiibuniak-okta commented on #198
PR is merged and fix will be included into upcoming SDK release.

[2021-07-08 19:23] jensenbox opened #216 "Support for Okta ASA?"
Are there plans to support Okta ASA? I would like to have programmatic access with Python. Perhaps there is a different repository or PyPi package that I missed?

[2021-07-08 19:50] monde commented on #216
Thanks for question @jensenbox . I will look into this additional details and get back to you here.

[2021-07-12 08:40] serhiibuniak-okta commented on #216
@jensenbox Currently, we don't have anything for Python to work with ASA. Regarding plans to support - we're discussing it, will get back to you when we have more details.

[2021-07-18 12:51] nimrodeli opened #218 "Missing X-Rate-Limit-* headers in response"
Hey,
I was trying to check the **X-Rate-Limit-*** rates during requests (because we have 2 APIs using the same Okta account and we want to be aware of it) but I saw that you replace the response headers with the request.
`OktaAPIResponse::__init__
 self._headers = req["headers"]`

Not sure if it's a bug or by intention but I'd like to have these headers' values without patch any code from the SDK

[2021-07-19 07:35] serhiibuniak-okta commented on #218
@nimrodeli Thanks for posting this issue. Those headers are used for pagination, i.e. for the next request. But, I agree, this looks a bit weird and response headers aren't available. I'm thinking about adding attribute `_resp_headers` to `OktaAPIResponse` object. Will it work for you?

[2021-07-19 08:07] nimrodeli commented on #218
Yes, sounds good.
it will solve the issue for me.

[2021-07-22 21:56] fawaf opened #220 "support org api"
https://developer.okta.com/docs/reference/api/org/

[2021-07-23 06:17] serhiibuniak-okta commented on #220
@fawaf Thanks for posting this issue. We'll need to plan this and update openapi spec first (all Okta SDKs are generated according to common openapi spec). I'll post here when I get more details.

[2021-07-27 16:10] serhiibuniak-okta commented on #198
SDK v2.0.0 has been released, I'm closing this issue as resolved.

[2021-07-27 16:10] #198 closed

[2021-07-27 16:11] serhiibuniak-okta commented on #218
SDK v2.0.0 has been released, I'm closing this issue as resolved.

[2021-07-27 16:11] #218 closed

[2021-08-17 07:10] serhiibuniak-okta commented on #220
@fawaf I've got more details: we will add support for org api soon. I'll post here when it is ready.

[2021-08-17 09:17] gpseconsulting opened #224 "Cannot unset an appuser profile attribute via the python SDK but can be done via API"
Imagine a user has the following appuser profile for a given application:

`{ "profile": { "my_custom_attribute": ["this_is_a_value"] } }`

If you want to unset that `my_custom_attribute` via the API you would call `{{url}}/api/v1/apps/{{appId}}/users/{{userId}}` and pass the following profile:

`{ "profile": { "my_custom_attribute": [""] } }`

This works as expected. However, we cannot find a way

[2021-08-17 10:17] serhiibuniak-okta commented on #224
@gpseconsulting Thanks for posting this issue. The thing is, that in many cases, empty params might unset attributes unintentionally. So, setting parameter `keep_empty_params` manually, might be a temporary workaround for such situations. Will it work for you for now? I'll investigate what might be improved meanwhile.

[2021-08-17 10:29] gpseconsulting commented on #224
Looks to me like setting `keep_empty_params` manually is not an option, this is the `update_application_user` signature

`	    async def update_application_user(
 	            self, appId, userId, app_user
 	    ):
`

If we could expose `keep_empty_params` in there and have it default to False, then yes we could override that to True and that would solve our problem. Thanks for the quick reply!

[2021-08-17 10:33] serhiibuniak-okta commented on #224
Ok, let me take a closer look, I'll post here when I have something to share.

[2021-08-18 06:49] exitcode0 opened #225 "Guidance: Rate Limiting"
Similar to a previous issue that went stale https://github.com/okta/okta-sdk-python/issues/191

i'd like access or guidance on rate limiting my requests
the SDK supports retries and logs when rate limits are exceeded, which is fantastic.
but ideally i'd like to avoid hitting rate limits in the first place

i'm using asyncio.gather with semaphores to limit the number of async tasks in the event loo

[2021-08-18 07:37] serhiibuniak-okta commented on #225
Hi, @exitcode0 . You can access response headers by calling method "get_headers" upon response object. Do you need anything else?

[2021-08-18 12:13] exitcode0 commented on #225
`resp.get_headers()` throws the following error
[code]

`print(resp._headers)` does run successfully, however doesn't contain the headers I'm after
[code]

[2021-08-18 12:16] serhiibuniak-okta commented on #225
@exitcode0 Do you use the latest sdk version? This feature appears in v2.0.0 https://github.com/okta/okta-sdk-python/releases/tag/2.0.0

[2021-08-18 13:31] exitcode0 commented on #225
🤦
This fixed my issue, thanks for your patience and assistance on this one

[2021-08-18 13:31] #225 closed

[2021-08-18 13:33] serhiibuniak-okta commented on #225
Thank you for letting us know that your issue is resolved. And thanks for using Okta! :)

[2021-08-20 17:11] gaelletjat opened #226 "Guidance needed please: Flask App with Okta integrated"
Hello team,
I have been working on integrating the sample shared with the Flask app I am currently building. Thank you for the samples.
Everything works fine when I use the sample code as it is.
But my app has a different structure than the one shared.
A sample tree of the app look like this:
[code]
I moved the login_manager import and instantiation  into `__init__.py`
I kept the `APP_STATE, NONCE

[2021-08-20 17:57] gaelletjat commented on #226
I read the documentation for [flask async and await](https://flask.palletsprojects.com/en/2.0.x/async-await/).
I commented/deleted line 7 and replaced the `loop.run_until_complete` on line 13 and 23 in `helpers.py` with `asyncio.run(jwt_verifier...)` and apparently it's working.
I will update the issue if I am running anything after deploying on production.

[2021-08-23 02:25] achantavy commented on #58
Hi @bretterer, are you able to share or link to the roadmap? Around when do you expect OIDC support to be library-ized?

[2021-08-23 06:07] serhiibuniak-okta commented on #226
Hi @gaelletjat, thank for posting well-detailed issue. Btw, it looks like it should be under flask samples repo - https://github.com/okta/samples-python-flask/issues, but it's fine. So, currently, everything works?

[2021-08-23 22:12] robertjd commented on #58
If the original request is "how to use oauth to authenticate with the management APIs"? If so, then the link in the last comment is where you want to look.

[2021-08-24 23:36] jensenbox opened #228 "Unable to configure via environment variables"
Is there a specific reason why there is no provision for configuring the client with Environment Variables?

This would allow for a cleaner implementation of https://12factor.net

Seems like it would be very easy to implement a set of default in the `_DEFAULT_CONFIG` variable in the `ConfigSetter` class.

[2021-08-24 23:48] jensenbox commented on #228
Actually, I see the root of the issue - the suggested documentation links are either stale or wrong. When getting a client with no parameters specified and you have not configured the client in any other way you get the following:

[code]

[2021-08-24 23:57] jensenbox opened #229 "Non-Async version of functions?"
Hi,

I can certainly appreciate the implementation of async in a library however in most cases that I would use this library I am using in a simple script where I am not having a significant number of simultaneous requests and therefore am completely happy with good old fashioned sync calls.

The overhead required to just call something as simple as `client.list_users()` in a non-async script is j

[2021-08-25 01:35] jensenbox opened #230 "Support for custom Group attributes"
We are in the process of investigating the use of custom attributes on groups. It appears that the current `GroupProfile` class does not support this as of yet.

Is there any intention of allowing the Groups to receive the custom attributes on the `profile`?

[2021-08-25 02:16] arvindkrishnakumar-okta commented on #229
@jensenbox Thanks for posting!

I'll have this one reviewed by one of our team members.

cc: @serhiibuniak-okta

[2021-08-25 02:16] arvindkrishnakumar-okta commented on #230
@jensenbox Thanks for posting!

@serhiibuniak-okta - can you help with this one?

[2021-08-25 06:38] serhiibuniak-okta commented on #228
@jensenbox Thanks for posting this issue, but I'd like to clarify few moments:
1) "the suggested documentation links are either stale or wrong" - could you please point which links are stale or wrong?
2) Do you mean by the first example on the README the first sample in this section - https://github.com/okta/okta-sdk-python#getting-started? It's just a starting point and right under this sample we

[2021-08-25 07:03] serhiibuniak-okta commented on #229
@jensenbox That makes sense, but SDK uses async http requests under the hood. So, what the solution might be in current situation? I think about converting async calls to sync calls, i.e. call async method and wait for completion:
[code]
You can use it as a temporary (or not) workaround. I think, it's pretty easy to use in client code. It is much harder to make SDK support sync calls out-of-the-bo

[2021-08-25 14:08] exitcode0 opened #231 "pagination in get_logs()"
`response.has_next()` seems to return `True` on a `get_logs()` call when the response is less than one page
the next header seems to return the same result as the self header

This causes issues for the below code
[code]

this seems like unintended behaviour, but if im doing something wrong here, please let me know :)

[2021-08-25 15:35] arvindkrishnakumar-okta commented on #231
@exitcode0 Thanks for posting!

@serhiibuniak-okta Can you help with this?

[2021-08-25 16:57] serhiibuniak-okta commented on #231
@exitcode0 Thanks for posting this issue, looks like it is a bug. I'll investigate it deeper as soon as possible. Btw, if no logs in response, then it is in eternal loop?

[2021-08-28 16:23] hb3b opened #232 "End user and admin notes are missing from the "Application" model"
When listing applications directly from the Okta API, the response includes `admin` and `enduser` notes, however, these values are not returned when using the `list_applications` function in this SDK.

[2021-08-30 06:32] serhiibuniak-okta commented on #232
@hb3b Thank you for posting this issue. Surprisingly, `notes` attribute is not described in our openapi spec. I'll find out and come back to your issue soon.

[2021-08-30 07:22] serhiibuniak-okta commented on #232
I can confirm that sample Bookmark app includes notes within SDK response.

[2021-09-07 10:33] wjlabcwjl opened #234 "How to use this sdk to do client_credentials authorization"
How to do the process described in this page ?
https://developer.okta.com/docs/guides/implement-grant-type/clientcreds/main/

[2021-09-07 12:04] serhiibuniak-okta commented on #234
@wjlabcwjl Could you please, specify what exactly you want to achieve with our sdk? This SDK is used to interact with Okta management API. If you need to manipulate with tokens, we have [okta-jwt-verifier](https://github.com/okta/okta-jwt-verifier-python) for token validation, for example.

[2021-09-07 12:21] wjlabcwjl commented on #234
I want to request a token with client credentials grant type flow, I'm looking for a python helper which can do the base64 encoding and make a request with basic authorization header then return me the token.

[2021-09-07 13:20] serhiibuniak-okta commented on #234
As a python helper I can suggest write custom function, something like the following:
[code]

[2021-09-07 13:44] wjlabcwjl commented on #234
This is what I'm doing and it works, just want to avoid this little code, I thought your sdk could do this, I see this method : https://github.com/okta/okta-sdk-python/blob/master/okta/oauth.py#L30
Well, if this is not the purpose of your sdk, you can close my issue, thanks for your help.

[2021-09-07 13:58] serhiibuniak-okta commented on #234
And yes, you can access these internals if you want:

[code]

[2021-09-07 14:01] serhiibuniak-okta commented on #234
Then I'm closing this issue as resolved, feel free to reopen it or create a new one if your problem exists still.

[2021-09-07 14:01] #234 closed

[2021-09-08 22:01] erichulburd commented on #234
From what I see, this client only supports API tokens and PrivateKey authorizations: https://github.com/okta/okta-sdk-python/blob/46184663baccb926dc14ab964dfd9406d375de0a/okta/config/config_validator.py#L43

So to make explicit, if we want to make a request with a client credentials access token, this client does not support our use case?

Is there a good reason to not support bearer authorization

[2021-09-09 07:21] serhiibuniak-okta commented on #234
@erichulburd Few years ago API didn't support Bearer tokens https://devforum.okta.com/t/using-oauth2-bearer-token-to-access-okta-apis/845/9
I think, we can add support for bearer authorization. I'll add this feature to our backlog.

[2021-09-14 00:22] RamaHood commented on #230
this is also the issue that we got into to integrate with okta sdk,

[2021-09-20 14:21] serhiibuniak-okta commented on #228
I'm closing this issue as stalled. Feel free to reopen or create a new one if your problem exists still.

[2021-09-20 14:21] #228 closed

[2021-09-20 16:41] serhiibuniak-okta commented on #231
@exitcode0 Finally, I've found that the issue was in "polling" request type. What you need is "bounded" request type, i.e. you need to specify "until" parameter - https://developer.okta.com/docs/reference/api/system-log/#request-types
Let me know if it works for you

[2021-09-23 07:36] serhiibuniak-okta commented on #232
I'm closing this issue as stalled. Feel free to reopen this issue or create a new one if your problem exists still.

[2021-09-23 07:36] #232 closed

[2021-09-23 07:37] serhiibuniak-okta commented on #226
I'm closing this issue as stalled. Feel free to reopen this issue or create a new one if your problem exists still.

[2021-09-23 07:37] #226 closed

[2021-09-23 07:38] serhiibuniak-okta commented on #229
I'm closing this issue as stalled. Feel free to reopen this issue or create a new one if your problem exists still.

[2021-09-23 07:38] #229 closed

[2021-09-27 12:40] explody opened #243 "Contributing to auto-generated files?"
I was just about to work on #230 when I noticed the warning at the top of the file:

[code]

I checked:  https://github.com/okta/okta-sdk-python/blob/master/CONTRIBUTING.md

But there's nothing there on the subject.  I'm guessing some or all of the models are generated from OpenAPI or similar?  The fix for Group Profiles is pretty simple, but does this mean that we'd need to wait for the OpenAPI d

[2021-09-27 12:49] serhiibuniak-okta commented on #243
@explody yes, all models are being generated in accordance with openapi spec: https://github.com/okta/okta-management-openapi-spec
And for given particular case I've provided PR - https://github.com/okta/okta-sdk-python/pull/238 (though, we haven't released it yet). I think, we should update contributing guide to explain this nuance, I'll put such task to our backlog.
Does it work for you?

[2021-09-27 13:39] explody commented on #243
Looks great, pretty much exactly what I was about to try manually :P

I suppose the question is for cases like this - is it a matter of keeping model code up to date with the changing OpenAPI spec?  Or does this involve updating the spec itself first?

Put another way, is this something 3rd party contributors can do, or should we just expect to wait on the models to catch up to the spec?

Either w

[2021-09-27 13:48] serhiibuniak-okta commented on #243
Yes, we need to update spec first. We can't release sdk if it diverges from spec. On the other hand, 3rd party contributors can generate sdk based on a new spec release and create a PR (if we didn't do this in time, of course).

[2021-09-27 13:50] explody commented on #243
Got it, thank you.  Just FYI PR #238 get close but I don't see group_profile.py being updated yet, so the profile data still doesn't make it to the client (just confirmed this locally).  But, we can take this conversation back to #230

Thanks!

[2021-09-29 17:24] jnalley opened #245 "Does list_group_users() support filtering for ACTIVE users?"
I am trying to query for ACTIVE members of a group.  I am passing `{"filter": 'status eq "ACTIVE"'}` as the `query_params` argument to `list_group_users()` but the results seem to contain both active and inactive users.

Using the same filter with `list_users()` works with no issues.

Thanks!

[2021-09-29 17:43] jnalley commented on #245
Oops - sorry - read the method definition and I see that `query_params.filter` is not listed.

I also noticed that `{"filter": 'status ne "ACTIVE"'}` doesn't work with `list_users()`

It returns the error: `{'message': 'Okta HTTP 400 E0000031 Invalid search criteria.\n'}`

[2021-09-29 17:43] #245 closed

[2021-09-30 06:56] serhiibuniak-okta commented on #245
@jnalley Thank for posting this issue. In fact, filter works, but has some limitations: https://developer.okta.com/docs/reference/api/users/#list-users-with-a-filter
Feel free to reopen this issue or create a new one if your problem exists still.

[2021-09-30 17:00] jnalley commented on #245
@serhiibuniak-okta I realize that `list_users()` works with a filter, but `list_group_users()` does not appear to.  This is unfortunate since my organization has been using Okta for quite some time and we have a large number of users that have been "DEPROVISIONED".  This means I get hundreds of extra (inactive) results when querying members of a group.  Relevant documentation: https://developer.ok

[2021-09-30 17:31] serhiibuniak-okta commented on #245
@jnalley I agree, that's strange, but `groups` and `users` - different apis. And, unfortunately, `list_group_users()` doesn't support filter so far.

[2021-10-04 15:28] serhiibuniak-okta commented on #234
@erichulburd SDK v2.2.0 has been released, now you can pass your access token using "Bearer" authorization mode

[2021-10-04 15:31] serhiibuniak-okta commented on #230
@jensenbox @RamaHood SDK v2.2.0 has been released. Manage custom group attrs: https://github.com/okta/okta-sdk-python#manage-group-schema-custom-atributes

[2021-10-04 15:31] #230 closed

[2021-10-04 15:43] serhiibuniak-okta commented on #220
@fawaf SDK v2.2.0 has been released. ORG API is supported now, except org logo uploading. This operation needs some extra codebase changes. You can track progress here: https://github.com/okta/okta-sdk-python/pull/244

[2021-10-05 10:50] serhiibuniak-okta commented on #231
I'm closing this issue as stalled. Feel free to reopen this issue or create a new one if your problem exists still.

[2021-10-05 10:50] #231 closed

[2021-10-25 14:21] radoslaw-bartosinski-mox opened #253 "OAuth 2.0 and JWKS proper config"
Hello,

I'm trying to do the config which will use JWKS as it's described in the Readme example and the docs here -> https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/create-sign-jwt/.

So, I've tried to use JWKS generated in https://mkjwk.org/:

[code]

Run:
[code]

In the Readme there is the description that we can directly use the key from the generator.

Do you maybe k

[2021-10-26 12:37] #253 closed, assigned to nobody

[2021-11-04 14:34] mm-irvingleonard opened #255 "Allow custom SSL deployments"
Your library assumes a "correctly configured" underlying environment, SSL wise. Porting this kind of settings across operating systems and deployments is far from trivial, enter the SSL contexts. The builtin `ssl` module handles SSL contexts which would be basically that: an SSL configuration environment.

The current code ultimately calls `aiohttp.request` which the *aiohttp* project calls [Basic

[2021-11-04 15:11] mm-irvingleonard commented on #255
The solution in the current version would be to implement a custom `HTTPClient` class that handles the SSL context the way you want and pass it to the `okta.client.Client` constructor as the `httpClient` parameter.

[code]

[2021-11-04 15:16] mm-irvingleonard commented on #255
@serhiibuniak-okta with the [proposed PR](https://github.com/okta/okta-sdk-python/pull/254) it will remove the need to reimplement the `send_request` method.

[2021-11-04 15:19] serhiibuniak-okta commented on #255
@mm-irvingleonard Thank you for providing a lot of details, I'll take a closer look soon.

[2021-11-16 16:52] serhiibuniak-okta commented on #255
@mm-irvingleonard SDK v2.3.0 has been released. I'm closing this issue as resolved. Feel free to reopen this issue or create a new one if your problem exists still. You can find in README a sample which demonstrates how to pass SSLContext to OktaClient: https://github.com/okta/okta-sdk-python#other-configuration-options

[2021-11-16 16:52] #255 closed

[2021-11-16 16:54] serhiibuniak-okta commented on #220
@fawaf SDK v2.3.0 has been released. ORG API is fully supported, I'm closing this issue as resolved. Feel free to reopen this issue or create a new one if your problem exists still.

[2021-11-16 16:54] #220 closed

[2021-11-16 22:34] SquireOfSoftware commented on #234
Just wanted to say, it took me a while because the link between the documentation and the api documentation, seems to not exist...

I mean I appreciate the REST endpoints...but I was hoping for some native python examples USING the SDK for various grant flows for a native python app trying to talk to a protected resource.

My use case specifically is that I am looking to protect a new API and we w

[2021-11-17 08:24] serhiibuniak-okta commented on #234
@SquireOfSoftware Sorry to hear that you have had a lot of pain. Hope, I can help you to make it clear.
So, first of all, this SDK is intended to work with management APIs, i.e. it is a client to make easy and consistent interaction with APIs which are described within openapi spec https://github.com/okta/okta-management-openapi-spec. Generating and validating JWTs is not a responsibility of this

[2021-12-08 10:49] sundarib-okta opened #263 "Custom attributes are not listed in the profile unless it has a value populated once"
Hi

I am having issues fetching custom attributes from user profile. I notice that only if the custom attribute
is updated with a value once, then it gets listed as an attribute in the profile.

My use case is to update a huge number of users with value for a custom attribute and before updating i need
to verify if the attribute has any value, but the attribute is not even seen in the profile if i

[2021-12-08 11:10] serhiibuniak-okta commented on #263
@sundarib-okta Thank you for providing a lot of details. Looking into it.

[2021-12-08 18:12] serhiibuniak-okta commented on #263
@sundarib-okta I've got some info for you:
1) It is expected that schema properties with null or empty value do not show in the user profile in API. But they should be shown in the UI. You can use the schema API (https://developer.okta.com/docs/reference/api/schemas/) to list all properties in the schema if they want to cross check which properties are in the schema but not in user profile (becaus

[2021-12-08 22:33] sundarib-okta commented on #263
@serhiibuniak-okta
1. Agreed, yes the attributes with null or empty value are not showing up in user profile API

Say below API call is not showing `nickName` for user in the profile attributes via API

![image](https://user-images.githubusercontent.com/88635477/145293971-2d8efef2-6dce-41d4-b8ad-902b24e20a0f.png)

when i query the same user via the SDK, i can fetch the value for nickName which wou

[2021-12-09 07:58] serhiibuniak-okta commented on #263
Yes, you're right with conclusion. Let me explain it a bit more.
1. The thing is, base attributes are "known" by SDK. So, even there is no value for such attribute in response, it knows how to deal with it, in our case SDK automatically assigns None: https://github.com/okta/okta-sdk-python/blob/master/okta/models/user_profile.py#L137-L168.
2. Custom attributes can't be "known", thus SDK can't assi

[2021-12-09 09:33] sundarib-okta commented on #263
@serhiibuniak-okta
Thanks for the clarification

[2021-12-09 09:33] #263 closed

[2021-12-09 09:51] serhiibuniak-okta commented on #263
@sundarib-okta Thank you for letting us know everything is clear and thanks for using OKTA!

[2021-12-14 12:02] RoySchiffmannGrip opened #264 "`ApplicationClient.get_application` API and `{{url}}/api/v1/apps/<app_id>` REST API, returns different objects."
--- Version okta 2.3.1---

I'm trying to get the domains of SaaS applications using `apps` information.

When getting the app data using `{{url}}/api/v1/apps/<app_id>`, the value `samlUrl` exists, under `settings.app` (For certain apps)
[code]
When getting the app data over `ApplicationClient.get_application`, `app` is empty.
[code]
[code]

Where all other `app` data is returned as expected.

Is t

[2021-12-14 13:18] serhiibuniak-okta commented on #264
@RoySchiffmannGrip Could you please, check raw response within sdk? i.e. run smth like the following:
[code]

[2021-12-15 09:06] RoySchiffmannGrip commented on #264
Well yeah `resp` does contain the full content of `app_settings`, as well as sending a `get`, which I have already used to get this information.

But still don't you think that `app` should contain `saml_url`/`base_url/etc...` I saw in the package that it uses:
[code]
We can add more object types, or in this case make `SamlApplication.settings.app` a `dict` or a more complex object to get the urls

[2021-12-15 09:33] serhiibuniak-okta commented on #264
Could you please, provide app config (you can edit/censor sensitive info), so I can re-create this app and reproduce the issue? AFAIU, the issue is in app.settings.app, but it works for bookmark, for example:
[code]

[2021-12-17 03:22] moisefr opened #265 "from okta import UsersClient"
installed okta
Tried running this code
`from okta import UsersClient`
Not working. What's the latest version of UsersClient?

[2021-12-17 07:52] serhiibuniak-okta commented on #265
@moisefr Correct import would be:
[code]
But it won't be able to call api methods as we pass request_executor instance to all api clients from main client, so ideally, you need to do the following:
[code]

[2021-12-29 20:28] JimJohnsonColgate opened #266 "Support for Django Rest Framework"
I am developing an application and attempting to use this SDK with Django Rest Framework (DRF) to call the Okta API. When making calls to the Okta Client, the function is returning a coroutine object instead of the proper data.

As of yet DRF does not support asynchronous functionality, but it seems like it should not have to retrieve information from Okta synchronously.

I can see this was brough

[2021-12-30 07:32] serhiibuniak-okta commented on #266
@JimJohnsonColgate Thank you for posting this issue.
This SDK was designed to work asynchronously, but there are few ways how to wrap/convert async to sync, for example it was brought up here: #229
If you need to make it in "Django-style" and DRF does not support async, you can use their workarounds like the following:
 https://docs.djangoproject.com/en/3.1/topics/async/#sync-to-async

Does it wor

[2021-12-31 15:53] JimJohnsonColgate commented on #266
Thanks! I missed that, and it appears to work fine.

Two other quick comments:

- Environment variables are not working for me in Django. os.getenv('OKTA_CLIENT_ORGURL'), for example, returns None. The okta client is working so I know it is accessing the yaml file, but the variables are not added in the local environment. Am I using that incorrectly? Perhaps consider adding an example to the readm

[2022-01-02 16:53] gabrielsroka opened #267 "reuse aiohttp ClientSession for better performance"
https://github.com/okta/okta-sdk-python/blob/ec793a4c0ec98c679617b5bac0bc91ae13eb02d4/okta/http_client.py#L78
looks like it creates a new `aiohttp.ClientSession` for each call. this will tear down the http/tcp/ip connection and rebuild it each time, which slows down performance

here's an example using raw `aiohttp` -- note the `ClientSesion` is created once and reused:
[code]

it runs in about 5

[2022-01-06 01:52] aaronlelevier opened #268 "Support Yubikey"
From the REST API documentation, I found this Yubikey [example](https://developer.okta.com/docs/reference/api/authn/#request-example-for-enroll-yubikey-factor).

I searched this repo, but did not find any matches for Yubikey support and would like to use Yubikey MFA. Is this a desired feature?

[2022-01-06 17:02] arvindkrishnakumar-okta commented on #268
@bretterer Can you help with this one please?

[2022-01-10 08:43] serhiibuniak-okta commented on #267
@gabrielsroka Thank you for providing a lot of details. I'll take a look at such improvement asap.

[2022-01-10 08:59] serhiibuniak-okta commented on #266
@JimJohnsonColgate README has this section https://github.com/okta/okta-sdk-python#configuration-reference which explains how to config everything you might need. Pay attention to naming and overriding. If your problem exists still, please share some code so I can reproduce it and help.

[2022-01-20 13:14] serhiibuniak-okta commented on #264
@RoySchiffmannGrip I'm closing this issue as stalled and I can't reproduce it. Feel free to reopen this issue or create a new one if your problem exists still.

[2022-01-20 13:15] serhiibuniak-okta commented on #265
@moisefr I'm closing this issue as stalled. Feel free to reopen this issue or create a new one if your problem exists still.

[2022-01-20 13:15] #265 closed

[2022-01-20 17:36] gabrielsroka opened #270 "support for multiple async requests and concurrent/per-minute rate limits"
How does the SDK handle both concurrent rate limits and per-minute rate limits? How can I submit multiple simultaneous requests to improve performance?

Eg, my org supports 75 concurrent requests. If I have a csv file with 75 user ids, this code works fine and finishes in under 1 second.
[code]

If I try 100 users, it doesn't seem to work correctly -- some users are added to the group, some are no

[2022-01-20 19:05] laura-rodriguez commented on #270
Hi @gabrielsroka ,

Thanks for your issue.

@serhiibuniak-okta can you please take a look when you have a chance?

[2022-01-20 19:07] gabrielsroka commented on #270
this seems to work for up to 500 adds: slice it up into chunks of 75 at a time. it runs in about 4-5 seconds.

[code]

[2022-01-21 09:08] serhiibuniak-okta commented on #270
@gabrielsroka Thank you for providing a lot of details. Both rate limit are being "controlled" within the same headers: https://developer.okta.com/docs/reference/rl-best-practices/#example-rate-limit-header-with-org-wide-rate-limit
How SDK handle this: if response comes with error 429, then it calculates wait time (time from "X-Rate-Limit-Reset" header - (minus) time from "Date" header).
I'll inve

[2022-01-21 17:46] gabrielsroka commented on #270
ok, i think i figured something out. the rate limit headers work totally differently for per-minute vs. concurrent (and i was thinking of the wrong one)

for per-minute, the X-Rate-Limit-Reset should only be < 60 sec in the future (that's why i was confused about 114 sec above)

for concurrent, the X-Rate-Limit-Reset is "an estimated time interval when the concurrent rate limit may be resolved. It

[2022-01-21 17:49] gabrielsroka commented on #270
the challenge i have is, the API doesn't seem to tell you whether your concurrent limit is 15, 35, or 75 -- the user would have to know (i guess the SDK could guess or try it and see, but that's hacky).

how much support should the sdk have for concurrent limits? should it ask the user what it is? should it handle it totally transparently? or would the user have to add their own logic (as i've bee

[2022-01-24 09:58] gabrielsroka commented on #270
I'm not sure what's appropriate. How do the other Okta SDKs handle it?

The way I think of it is with the per-minute limit, you have to wait until after the reset, based on the header, this should be in less than 60 seconds.

But for the concurrent limit you have to wait for a thread open up. The number of threads is either 15, 35, or 75. I don't know if the SDK needs to track how many threads the

[2022-01-24 17:49] serhiibuniak-okta commented on #267
@gabrielsroka I've added PR: https://github.com/okta/okta-sdk-python/pull/271
This really improves performance and doesn't introduce breaking changes. Is it convenient to create ClientSession outside?
You can find example under https://github.com/okta/okta-sdk-python/tree/add-reusable-session#other-configuration-options

[2022-01-24 18:09] serhiibuniak-okta commented on #267
It's a bit hard to close session correctly, especially in async world. If we create session under the hood, when we should close it? When garbage collector starts, i.e. try to close session inside `__del__` method or use atexit. But both of these are sync by its nature and session is async, thus it multiply complexity of correct solution.

[2022-01-25 15:36] gabrielsroka commented on #270
i'm not sure what you mean

it's not ideal, but i don't know a better way

[2022-01-25 15:46] gabrielsroka commented on #267
how about `__aexit__`. that's what aiohttp uses: https://github.com/aio-libs/aiohttp/blob/master/aiohttp/client.py#L1073-L1079

[2022-01-26 08:49] serhiibuniak-okta commented on #270
Let's imagine we launched 200 concurrent requests and org has limit equals to 75 concurrent requests. Then 125 requests will wait for the same amount of time and will be launched approximately at the same time, which exceeds our limit again. So, all 200 requests may be finished in 2-3 min approx. But if we make chunks of 75 it might be finished within few seconds (if we don't exceed org-wide limit

[2022-01-26 08:59] serhiibuniak-okta commented on #267
Yes, `__aexit__` is being used within `async with` context, i.e. it is being called when we leave async context manager:

[code]

Output:
[code]

[2022-01-26 11:03] gabrielsroka commented on #270
That doesn't seem to be what actually happens. If you launch 200 concurrent requests, 75 of them will work and you get 125 errors. But you can retry number 76 as soon as one of the 75 is done, same for 77, etc.

In my code, I think of them as 75 threads, each of which is either available or unavailable. A good strategy seems to be not launching more requests than there are available threads becaus

[2022-01-26 11:23] gabrielsroka commented on #267
i don't see `__aexit__` in the SDK (except for a few tests). is it there? different branch maybe? do you have a url?

which README? aiohttp's?

maybe the solution is instead of doing
[code]

do
[code]
and using Okta's `__aexit__` to call aiohttp's `__aexit__`

also, https://docs.aiohttp.org/en/stable/client_quickstart.html says

Don’t create a session per request. Most likely you need a session pe

[2022-01-26 11:37] serhiibuniak-okta commented on #267
There is no __aexit__ in SDK, because it is defined for ClientSession object and will be executed automatically when we use `async with` construction.
So, with suggested solution we should do like the following:
[code]

Regarding your option:
[code]
looks reasonable, I'll investigate if I can implement it in this way, so for backward compatibility we still can use it as it was before.

[2022-01-26 11:41] serhiibuniak-okta commented on #270
In async these entities are not threads, but ok, let's think of them as threads. Then each of 125 threads receive that error message and will wait for the same amount of time. i.e. we launch 200 threads, not a some little pool of threads (for example 8 threads).

[2022-01-26 11:46] gabrielsroka commented on #270
i don't mean a Python `thread`. i'm using the same wording as Okta's doc:

https://developer.okta.com/docs/reference/rl-best-practices/#example-rate-limit-header-with-concurrent-rate-limit

and, again, there won't be 200 threads. it should be smart enough to launch only 75 threads and queue the rest, like i did in my queue code above: https://github.com/gabrielsroka/okta_api/blob/master/queue_tee.

[2022-01-26 11:48] serhiibuniak-okta commented on #270
I see. I can't think of anything better so far. Let's keep this stuff as it is until we find anything better?

[2022-01-26 11:51] gabrielsroka commented on #267
i understand backward compatibility is important, but it doesn't seem like a good idea to "use it as it was before" when the docs say "Don’t create a session per request". maybe it's only a performance consideration and some clients don't care about performance, but i'm guessing Okta's servers care about performance, and this is probably affecting them.

[2022-02-04 12:04] saloni-canva opened #273 "ModuleNotFoundError: No module named 'okta.client'; 'okta' is not a package"
I have installed okta python package using ```pipenv install okta``` and am running a virtual environment with okta installed. I am trying to run the sample example code that was provided

[code]

However I am getting this error
[code]
Can you help? Thanks

[2022-02-04 12:47] serhiibuniak-okta commented on #273
@saloni-canva Could you please check if package was installed correctly and/or import refers to correct file. First, you can do the following within Python interpreter:
[code]
Then you can check if that folder has file `client.py` alongside with `__init__.py`.

[2022-02-04 13:40] saloni-canva commented on #273
So I ran okta.__file__ and it printed the directory ![image](https://user-images.githubusercontent.com/90663513/152538189-eb043187-a543-4c60-94d5-4dcf41e37b39.png)

From there, I found client.py
![image](https://user-images.githubusercontent.com/90663513/152538234-64599c7e-ee80-486b-a368-76247724539a.png)

Is it something to do with running python / python3+ or pipenv ?  This is the command I am u

[2022-02-04 14:04] serhiibuniak-okta commented on #273
I guess, in this case it tries to import client from your file "okta.py", not from package "okta". By default, python import looks first in local directory, so you can play with paths or rename your file "okta.py" to anything else, for example "test_okta.py" and try again.

[2022-02-07 02:46] saloni-canva commented on #273
Thanks its working now! Is there any way I can rename to okta.py in the future e.g by making file first then installing package? I've done this for Jira as well with a jira.py file and its working fine

[2022-02-07 08:36] serhiibuniak-okta commented on #273
You can install packages without any problem. The issue is in `import`. To sort things out you can start from https://docs.python.org/3/reference/import.html
I'm closing this issue as it has nothing to do with this repo and okta package.

[2022-02-07 08:36] #273 closed

[2022-02-07 14:34] serhiibuniak-okta commented on #266
@JimJohnsonColgate I'm closing this issue as stalled. Feel free to reopen this issue or create a new one if your problem exists still. Thanks for using OKTA!

[2022-02-07 14:34] #266 closed

[2022-02-08 19:23] saloni-canva opened #274 "What are the query parameters?"
This is a screenshot from the readme file. It says here to "Check the method definition for details on which query parameters are accepted"
![image](https://user-images.githubusercontent.com/90663513/153059970-f50fbd2c-48f3-4f6b-89f3-5641a53b8043.png)

On checking the method definition, I can see different types of ways of querying eg filter, limit etc. But I cannot see which parameters it is acce

[2022-02-08 20:16] saloni-canva opened #275 "How to use the functions in an object oriented class?"
I am trying to use the functions in a class like this:
<img width="407" alt="image" src="https://user-images.githubusercontent.com/90663513/153068403-d9f6f193-2975-4cfa-9ee4-46d99d34ba5a.png">

However I am getting this error:
<img width="1177" alt="image" src="https://user-images.githubusercontent.com/90663513/153068369-a741d16a-a1cf-47a4-8ec9-a1222407daf7.png">

I am guessing it has to do with t

[2022-02-09 03:35] arvindkrishnakumar-okta commented on #274
@saloni-canva Thanks for your post.

@bretterer can you please help take a look?

[2022-02-09 03:36] arvindkrishnakumar-okta commented on #275
@saloni-canva Thanks for your post.

@bretterer can you please help with this one?

[2022-02-09 06:36] serhiibuniak-okta commented on #274
Each API endpoint may have different set of query params. In this case, you deal with Users API, so you should refer to our docs https://developer.okta.com/docs/reference/api/users/#list-users-with-a-filter (you can find docs for any available API under https://developer.okta.com/docs/reference/core-okta-api/)

[2022-02-09 06:47] serhiibuniak-okta commented on #275
Yes, you're dealing with async approach and we have a lot of examples in our [README](https://github.com/okta/okta-sdk-python/blob/master/README.md)
IMHO, you should start from getting acquainted with [asyncio](https://docs.python.org/3/library/asyncio.html) to use our SDK in your project efficiently. In a nutshell, you need to use `await` on functions inside `async` functions. It doesn't break OO

[2022-02-09 16:49] serhiibuniak-okta commented on #267
@gabrielsroka Python SDK v2.4.0 has been released: https://github.com/okta/okta-sdk-python/releases/tag/v2.4.0 (you can find an example of usage here)
I'm closing this issue as resolved.

[2022-02-09 16:49] #267 closed

[2022-02-09 18:03] gabrielsroka commented on #275
@saloni-canva
here's are 2 more complete examples. as @serhiibuniak-okta said above, you must always use `async def` and `await client...`. note that `def __init__` can't be `async`

without a class:
[code]

with a class:
[code]

[2022-02-11 14:31] saloni-canva commented on #274
Thank you! This is great

[2022-02-11 14:31] #274 closed

[2022-02-11 14:34] gabrielsroka commented on #275
It goes in the main file, not in the class file.

Why don't you give it a try, maybe in both places and see what works. If not you can upload small samples of your code and we can give it a try together.

[2022-02-14 05:00] saloni-canva commented on #275
Sounds good, this worked for me:

oktaclass.py:
[code]

playground.py:
[code]

[2022-02-14 08:50] serhiibuniak-okta commented on #275
@saloni-canva Happy to see this works for you. Then I close this issue as resolved. Feel free to reopen this issue or create a new one if your problem exists still. Thanks for using OKTA!

[2022-02-14 08:50] #275 closed

[2022-02-15 20:53] jlrgraham23 opened #279 "Okta Group Object Missing Custom Attributes"
Group objects returned via the SDK are missing any custom attributes that are placed on them.

A similar issue is discussed in https://github.com/okta/okta-sdk-python/issues/230, but the resolution there seems to be around the creation or mangement of custom group profile attributes.

Looking at the SDK code, it looks like the the `okta/models/group_profile.py` [Group class](https://github.com/okt

[2022-02-15 21:14] laura-rodriguez commented on #279
Hi @jlrgraham23,

Thanks for your issue. Someone from our team will take a look soon.

cc @serhiibuniak-okta

[2022-02-16 06:46] serhiibuniak-okta commented on #279
@jlrgraham23 could you please, add some usage samples or request/response samples? If we are talking about #230, then custom attributes appears within GroupSchema object: https://github.com/okta/okta-sdk-python#manage-group-schema-custom-atributes.
Maybe, you've got some custom attributes in response for GroupProfile object, then it would be good if you can share how you've created custom attribut

[2022-02-16 16:14] jlrgraham23 commented on #279
@serhiibuniak-okta right, the group schema can be managed there, but the values placed into said custom attributes are not included in the resulting objects when querying Okta.

A `curl` request, the desired values are the `groupOwners` element of the `profile` portion of the response, where `groupOwners` is a custom attribute I defined in the Okta profile editor.

[code]

The same group as return

[2022-02-16 17:56] jlrgraham23 commented on #279
Thank you @serhiibuniak-okta , I'm not particular about my PR getting merged, likely easier if you fix directly than running a CLA by legal for me to sign!   Thank you!

[2022-02-17 16:26] serhiibuniak-okta commented on #279
@jlrgraham23 Created A PR, waiting for a review.

[2022-02-27 22:22] JimJohnsonColgate opened #282 "Certificate expired error with custom org url"
We have a custom url configured for our org, which previously has worked fine with the Okta API (custom url vs. original Okta url were interchangeable).

Recently we tested Okta-managed certificates (https://developer.okta.com/docs/guides/custom-url-domain/main/#configure-a-custom-domain-through-okta-managed-certificates) in our preview org. Now, the Okta python client is throwing a "Certificate E

[2022-02-27 22:32] JimJohnsonColgate commented on #282
Looks like this may be related to a recent LetsEncrypt certificate rotation: https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

Potentially Okta is serving up an old certificate under certain circumstances?

[2022-02-28 04:06] cptbldbrd opened #283 "update_application ValueError with OpenIDConnect Application"
I am retrieving an OpenIDConnect application, updating the application settings (adding a redirect URI), and then trying to update the application using update_application. When I try doing this, it ends up giving me this error: `ValueError: too many values to unpack (expected 2)`
Here is my function:

[code]

I'm wondering if I am using this wrong or if the JSON returned by OpenIDConnect applicat

[2022-02-28 12:18] MasterSergius commented on #282
@JimJohnsonColgate it looks like this issue is specific to python, could you please try the following? https://stackoverflow.com/questions/63742983/certificate-verify-failed-certificate-has-expired-ssl-c-when-attempti/69550170#69550170

[2022-02-28 12:27] MasterSergius commented on #283
@cptbldbrd Some of api methods return 3 params - (deserialized_response_body, okta_api_response, error) and some methods return 2 params if there is no response body - (okta_api_response, error). Method update_application returns 3 params, so you need to write:
[code]

[2022-02-28 14:59] JimJohnsonColgate commented on #282
Interesting. That worked. Thanks a lot.

[2022-02-28 14:59] #282 closed

[2022-02-28 18:12] cptbldbrd opened #284 "OpenID Connect Application 'Okta HTTP 400 E0000001 Api validation failed: rotationType\nrotationType: The field has an invalid value'"
I am attempting to update an OpenID Connect application. The setting I am updating has nothing to do with the rotationType and that value is never changed in my code. I am getting the following message from Okta after trying to update the application: `Okta HTTP 400 E0000001 Api validation failed: rotationType\nrotationType: The field has an invalid value`

The value is set to the following when t

[2022-03-01 01:35] cptbldbrd commented on #284
Ended up just changing this value to "ROTATE" and then updating. It fixes this issue.

[2022-03-01 01:35] #284 closed

[2022-03-04 17:05] IsmaelMartinez opened #286 "m2m (oidc_client) applications support"
Hello,

I would like to programmatically generate oidc_client applications in okta.

When I try to list them, I get the following response back:
[code]

The same happens if I try to do a get_application

Here is an example code:

[code]

I have created the application following the next steps:
* go to the application section and click "Create App Integration"
* select "API Services" and click "nex

[2022-03-04 17:11] IsmaelMartinez commented on #286
I have validated this and it works in the [nodejs sdk](https://github.com/okta/okta-sdk-nodejs). I would prefer to use python as it is the prefered language in our company but I will continue with my investigation wit nodejs

[2022-03-07 08:07] MasterSergius commented on #286
@IsmaelMartinez Looks like, "DYNAMIC" is a not supported issuer mode so far - https://github.com/okta/okta-sdk-python/blob/master/okta/models/open_id_connect_application_issuer_mode.py
Just for testing purposes, you can try add this manually (into installed okta package) and see if it works for you. There might be few options how to resolve this issue.

[2022-03-10 15:25] RomainMichau opened #287 "list_applications method fail when a Service application is returned"
# Context:
I created an API Service APP via Okta Admin console folllowing the [okta doc.](https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/main/#generate-the-jwk-in-the-admin-console) This application seems to have a DYNAMIC issuer_mode (I did not set it myself, it was setted by default)
When i try to get a list of my applications using the python SDK I get an error messa

[2022-03-10 17:42] jlrgraham23 commented on #279
Good morning @serhiibuniak-okta, thank you for the work here.  Any thoughts on when this might get merged and released?  We're looking to develop some additional API integrations with Okta and this is a blocker for us.

[2022-03-11 08:27] MasterSergius commented on #287
@RomainMichau Looks like the issue is the same as this one: https://github.com/okta/okta-sdk-python/issues/286
According to my investigation, we need to add `DYNAMIC` issuer mode to openapi spec first https://github.com/okta/okta-management-openapi-spec, then we can re-generate python SDK. Will keep you posted.

[2022-03-15 14:41] exitcode0 opened #288 "unexpected behaviour list_policies()"
the below code will result in `mfa_policies` being `None` despite the body containing a valid response from the API
unsure if this matters but my org is on OIE
```await client.list_policies({"type": "PASSWORD"})``` works as expected in this scenario

[code]

[2022-03-16 10:39] michaelmisshore opened #289 "The client_assertion JWT kid is invalid."
When configuring an OktaClient via privateKey, if the application you are targeting has multiple JWKs, the following error occurs:

`{'message': "HTTP 401 {'error': 'invalid_client', 'error_description': 'The client_assertion JWT kid is invalid.'}"}`

This works fine if the application only has one JWK. The issue is that the signed JWT does not contain the `kid`.

Potential fix: https://github.com

[2022-03-17 16:56] jlrgraham23 commented on #279
Good morning, just wanted to check in and see if there was any progress on getting this reviewed and merged.  Anything I can do to assist?

[2022-03-18 02:16] mycodemin opened #292 "logger.setLevel to match the 'log_level' parameter"
I have an application that writes to a log file. In the Okta config, I noticed if I enable logging, then it always includes DEBUG statements regardless of how the config is setup. To clarify, this is not a problem with what is printed to the console, but what is written to a log file.

Like in the code snippet below, my application sets the logLevel to INFO so I would not expect to have DEBUG stat

[2022-04-01 15:32] Flo451 opened #294 "UserProfile custom attributes in lower camel case"
Hi,

Using Version 2.5.0

when querying users I get the first 200 results with the custom UserProfile attributes named as expected (matching with what the API returns).
Going to the next page of 200 results suddenly the custom attributes are lower camel case.

Could you please have a look?

[2022-04-01 18:40] laura-rodriguez commented on #294
Hi @Flo451,

Thanks for reporting this. Can you please share the minimal piece of code to reproduce this issue?

A Fiddler log is also desirable to help investigate the issue.

Thanks!

[2022-04-04 11:05] Flo451 commented on #294
After further testing it appears the lower camel case attribute is a duplicate. So in my case the custom attribute named `JobFamily` suddenly also has a duplicate named `jobFamily`.

[code]

From row 200 we get a duplicated lower camel case attribute.

[code]

[2022-04-04 15:12] bretterer commented on #294
@Flo451 Thank you for that information.  Have you confirmed with raw api calls that you are not getting `jobFamily` in your responses?

[2022-04-07 11:06] Flo451 commented on #294
Yes, the custom attribute is `JobFamily`. The duplication also happens for other custom attributes. The duplicated values are not available in the raw api call results.

[2022-04-07 21:53] Fruglemonkey opened #295 "Any plans for supporting typing?"
Hi, are there any plans for this SDK to provide types or stubs for those of us that use types in python (IE with mypy or pyright)?

Not a breaking issue, but I find when working with this library ~50-60% of my PRs are just generating stub files 😓

[2022-04-07 22:41] aarongranick-okta commented on #295
@Fruglemonkey Thanks for the question! I will find someone from our backend SDK team who can answer it for you.

[2022-04-08 13:22] bretterer commented on #295
@Fruglemonkey Thank you for the suggestion here.  I can not comment on adding these to our library at the moment, but I will discuss this internally.

Internal Ref: OKTA-487505

[2022-04-29 10:37] Interperle commented on #287
when is #291 merged to solve this issue? I really need this fix.

[2022-05-05 14:14] RomainMichau commented on #287
@Interperle
FYI as a temporary fix I did that:
[code]
Basically you can get the list of app in the res object

[2022-05-19 02:29] fawaf opened #297 "deprecation warning when using asyncio"
when running with the examples given in the readme, a`DeprecationWarning: There is no current event loop` warning is thrown.

[code]

using python 3
[code]

[2022-05-19 08:00] Interperle commented on #297
This Warning occurs if you didn't use an event_loop before. Just use:

...snip...
loop = asyncio.new_event_loop()
loop.run_until_complete(do_stuff())
...snip...

When using it the first time.

[2022-05-19 21:11] fawaf commented on #297
ahh, the readme doesn't really make that clear.

[2022-05-26 19:53] bfrisbie-brex opened #298 "`urn:ietf:params:oauth:grant-type:saml2-bearer` Not included in OAuthGrantType"
Using Postman, I can create an OAuth2 Client with `urn:ietf:params:oauth:grant-type:saml2-bearer` as one of the `grant_types`.

However, that is missing from [OAuthGrantType here](https://github.com/okta/okta-sdk-python/blob/46184663baccb926dc14ab964dfd9406d375de0a/okta/models/o_auth_grant_type.py#L24-L36 ), and thus I can't create such an OAuth2 Client using the Python SDK.

[2022-05-26 22:58] bfrisbie-brex opened #299 "`token_endpoint_auth_method` = `none` raises an Api validation Error"
When I try to create an OAuth Client with the Python SDK, where `token_endpoint_auth_method` is set to `none`, I get back:

The error shouldn't occur, as `none` is defined as an acceptable value for `token_endpoint_auth_method` in the RFC: https://datatracker.ietf.org/doc/html/rfc7591

I don't seem to encounter the same problem when using Postman.

[2022-05-31 01:56] evanandrews-xrd commented on #270
Concurrent rate limits should be enforced at the point where the request is made:

[code]

Ideally this would be part of the base client behaviour controlled by a top-level config argument, e.g. either `Client({'concurrentRequests': 75})` or `Client({'oktaType': 'enterprise'})` (where the latter knows the Enterprise limit is 75).

Somewhat related: the request executor should ***not*** use `time.s

[2022-06-01 00:49] Fruglemonkey commented on #295
👀  Any update on the internal ref?

[2022-06-15 20:10] bfrisbie-brex commented on #298
Hi @laura-rodriguez , I'm sorry for not responding sooner, I overlooked your response.

Yes, this issue is blocking my team from migrating from our existing OAuth Server to Okta's API Access Management solution.

Do you think your team might be able to address this issue within the next several weeks?

[2022-06-16 07:50] molar-volume opened #301 "BUG: Default headers overwrite custom headers in `RequestExecutor`"
**Current behaviour:**
At https://github.com/okta/okta-sdk-python/blob/master/okta/request_executor.py#L122,
headers are overwritten by default headers.

[code]

**Expected behaviour:**
[code]

**Proposed solution:**
Use merge, so that headers from argument have precedence over defaults.
At https://github.com/okta/okta-sdk-python/blob/master/okta/request_executor.py#L121
[code]

[2022-06-16 10:49] molar-volume opened #302 "Set xml_attribs=True in OktaApiResponse.build_xml_response"
**Problem description:**
GET on `/api/v1/apps/${applicationId}/sso/saml/metadata` returns `xml` with important content in attributes, but method `build_xml_response` leaves attributes out.

**Proposed solution:**
https://github.com/okta/okta-sdk-python/blob/master/okta/api_response.py#L97
[code]

[2022-06-16 11:18] molar-volume opened #303 "Implement ApplicationClient.get_metadata_for_saml_application"
While you can create SAML app using `ApplicationClient.create_application`, there is no method to retrieve it's metadata to complete the setup on 3rd party platform, e.g. Snowflake.

The method should retrieve metadata from endpoint `/api/v1/apps/${applicationId}/sso/saml/metadata`.
This requires fix of https://github.com/okta/okta-sdk-python/issues/301 and https://github.com/okta/okta-sdk-python/

[2022-06-17 17:52] steveAG commented on #279
+1, any updates on this?
It's a blocker for one of our projects as well.

[2022-06-21 13:07] molar-volume opened #305 "BUG: flatdict installation fails on python 3.7.1"
**Current behavior**
If python 3.7 is specified in Travis config, version 3.7.1 is used, which causes error on `flatdict` installation:
[code]

**Propose solution**
Travis should use higher patch version (e.g. 3.7.13), and installation will pass fine.
[code]

[2022-06-21 16:15] bfrisbie-brex commented on #298
Hi @laura-rodriguez , checking in on this again: Do you think your team might be able to address this issue within the next several weeks?

[2022-06-22 20:40] laura-rodriguez commented on #298
Hey @bfrisbie-brex,

Just to get you unblocked while I get a response from the team, you can consider making the request manually using the SDK as explained [here](https://github.com/okta/okta-sdk-python#call-other-api-endpoints).

Let me know if this workaround works for you in the meantime.

[2022-06-22 21:19] bfrisbie-brex commented on #298
Hi @laura-rodriguez , yes, that has been our plan from the beginning.

The reason I asked if the Okta team is able to address this issue in the next few weeks is to determine if we should directly request the API directly as a "workaround" for this bug in the python SDK, or if we can expect this bug to be fixed sooner rather than later.

[2022-06-23 16:37] laura-rodriguez commented on #298
Hey @bfrisbie-brex ,
I understand this is a low-priority bug since there's a workaround, so I suggest you keep making the manual request in the meantime.

[2022-06-23 16:39] bfrisbie-brex commented on #298
@laura-rodriguez to be clear, we haven't written any code to make the manual request yet, in the hopes Okta will fix its bugs in a timely manner.

It would be nice if Okta could provide a time estimate on when this bug will be addressed.

[2022-07-04 01:25] sacedo-asapp commented on #297
You can also replace this:
loop = asyncio.get_event_loop()
loop.run_until_complete(main())

With this:
asyncio.run(main())

Works for Python >3.10

[2022-07-20 08:47] alextsits opened #306 "Use pycryptodomex instead of pycryptodome"
## The Problem
The Okta Python SDK depends on `pycryptodome`. This is a drop-in replacement for `pycrypto`, and as such conflicts with it, because both provide the `Crypto` Python module. I.e., to use them you have to `import Crypto`.

However the PyCryptodome project provides the `pycryptodomex` package that solves this conflict, by exposing PyCryptodome under `Cryptodome`, i.e., to use it you ha

[2022-07-21 14:22] bretterer commented on #279
This has been released in v2.6.0

[2022-07-21 14:22] #279 closed

[2022-08-04 09:21] ssilumala opened #308 "get users of a group"
how can i get the users of a okta group ?

[2022-08-04 09:26] #308 closed

[2022-08-04 09:27] ssilumala commented on #308
okta_client.list_group_users(group.id) is the function

[2022-08-11 09:32] RomainMichau opened #309 "OktaClient.create_application_group_assignment method fail due to wrong headers usage"
When using the method
[code]
I got an error message:
`{'errorCode': 'E0000021', 'errorSummary': 'Bad request.  Accept and/or Content-Type headers likely do not match supported values.', 'errorLink': 'E0000021', 'errorId': 'oaeW2vyTfU-RUOQoDiQkX1NPQ', 'errorCauses': []}`

I noticed that when sending the request to okta API the okta python sdk is using the header ''Content-Type: application/x-www-fo

[2022-08-18 14:50] bjr-okta commented on #216
At this point, we will not be doing any kind of support with Python and ASA.  If this is a need for your project, please reach out to support@okta.com with a feature request.

[2022-08-18 14:50] #216 closed

[2022-09-07 23:36] bfrisbie-brex commented on #298
Hi @laura-rodriguez , this bug is becoming higher priority for our team, as we a python script to migrate dozens of OAuth Clients over to Okta, and calling the API individually for each client is not practical.

Is there anything the priority of this issue/request can be increased?

On the surface, it doesn't _seem_ like it should take a massive engineering effort to fix.

[2022-09-12 21:13] kevinklitzke opened #311 "Listing factors fails if a claims_provider factor is encountered."
Currently if you try to list factors either using list_supported_factors or list_factors, if you encounter a claims_provider factor the API call fails with a "KeyError('claims_provider')" error.

No factors are returned and callers are unable to work around this without going directly to the underlying API calls.  This is happening because the user factors model's haven't been updated to support /

[2022-09-14 07:55] enfont opened #312 "Error retrieving SAML properties from `get_application` call"
**Describe the bug**

In our Okta environment we have defined a Datadog Application with SAML2.0 login enabled.

When getting the properties for an existing instance for a Datadog application from the UI or Postman we are getting properly the "settings" field for the application:

[code]

but when calling the SDK get_application with the same application id we are getting this kind of results. set

[2022-09-21 14:50] drewcarmichael-okta commented on #287
Fixed in https://github.com/okta/okta-sdk-python/pull/313

[2022-10-10 03:57] csanders-git commented on #288
Doesn't seem to do with OIE, instead it seems that this policy type wasn't implemented by the maintainers for unknown reasons. MFA_ENROLL is still valid in OIE and I added a PR to provide basic support for this type. https://github.com/okta/okta-sdk-python/pull/316

[2022-10-11 10:36] enfont commented on #312
Good morning

As far as we have seen after further investigation, the issue seems to be here:

https://github.com/okta/okta-sdk-python/blob/b0788d37c3f007ca43a15a11aab0128226422c97/okta/models/application_settings_application.py#L37

Once the Application Settings are requested, the "app" settings returned are completely empty.

As far as we can see, this is defined like this in the ApplicationSett

[2022-10-16 04:06] #297 closed

[2022-10-20 18:55] laura-rodriguez commented on #298
Hey @bfrisbie-brex,
I truly apologize for the inconvenience. We are experiencing some challenges in addressing Python Github issues. Please bear with us while we work to improve this process and SDK by addressing your feedback.

[2022-11-02 07:48] fionn opened #322 "Inconsistent return types from similar methods"
Some return types differ unexpectedly.

For instance, `GroupClient.remove_user_from_group` has return type `tuple[OktaAPIResponse, Exception]`, but `GroupClient.list_group_users` has return type `tuple[<result>, OktaAPIResponse, Exception]`.

It is understandable that some non-`GET` methods don't return a result, but in that case it would be much nicer to have a response of a 3-tuple with the resu

[2022-11-02 16:35] pablorf-dev opened #324 "Global okta http_config overwritten"
Hi,

@enfont and myself have been working on a workaround of #301 while developing an integration with this sdk, and we found that trying to do so overwrites the global http_config provided to sdk.

This happens because in [this line](https://github.com/okta/okta-sdk-python/blob/b0788d37c3f007ca43a15a11aab0128226422c97/okta/http_client.py#L24) the reference is assigned, and later [it is updated wi

[2022-11-07 11:16] exitcode0 opened #325 "`get_application_user_schema()`camel cases attribute names containing `_`"
when calling `get_application_user_schema()` for an application with a custom attribute `test_attribute`
(display name - `test attribute` variable name - `test_attribute`)
the name is malformed to camel case
[code]
returns the following
[code]

my limited investigation of this seems to point towards `get_application_user_schema()` calling `form_response_body()`
which calls `camel_case()` on keys

[2022-11-14 20:46] gabrielsroka commented on #297
@Interperle i think @sacedo-asapp 's solution is the more "correct", based on reading https://docs.python.org/3.10/library/asyncio-eventloop.html#asyncio.get_event_loop

@fawaf the readme was written before Python deprecated it. the docs need to be updated:

[code]

note, your mileage may vary depending on which OS and version of Python you're running.

[2022-11-14 21:08] sacedo-asapp opened #326 "Add device_client to resource_clients"
Hi! Is there plans to add a module to manage devices?

I'd like to take advantage of this SDK mainly to pull data from registered devices, the API endpoint exist `/api/v1/devices` so it is a matter of adding the necessary functions to interact with it. I'm not sure how to request for this but apparently this SDK has  autogenerated files so I'm guessing it is not just a thing I can create and send

[2022-11-14 22:31] gabrielsroka commented on #326
you can call arbitrary endpoints:
https://github.com/okta/okta-sdk-python/#call-other-api-endpoints

here's some sample code, with pagination
[code]

if u wanna get fancier, here's a subclass
[code]

and a way to call it
[code]

[2022-11-16 14:19] pieterfredrickdehaan opened #329 "Use asyncio.sleep during backoff"
https://github.com/okta/okta-sdk-python/blob/master/okta/request_executor.py#L337

In the linked line of code `time.sleep` is used instead of `asyncio.sleep`. This can cause some very long (and unnecessary) waiting time.

[2022-11-22 02:13] kevinklitzke opened #330 "vendor_name missing from user_factor model."
The vendorName attribute is missing from the user_factor model.

While this is often the same as the provider value for the built-in factors, however for custom TOTP/HOTP factors this attribute extremely useful as the provider value is simply "CUSTOM" and the vendorName is the descriptive value  provided when creating the custom factor.

While you could drop down to the raw API to work around this